.heading,
.suggestions-heading {
	font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
	font-weight: 100;
}

.heading {
	text-align: center;
}

.field {
	font-size: 4em;
	padding: 0;
	width: 100%;
}

.suggestions-list {
	list-style: none;
	margin: 0;
	padding: 0;
}