@import 'app/styles/colors';
@import 'app/styles/fonts';
@import 'app/styles/breakpoints';

.search {
	margin-bottom: 60px;
}

.suggestions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 30px auto 0;
	max-width: 960px;
	padding: 0 10px;
}

.suggestion {
	border: 1px solid $gray-blue;
	border-radius: 2px;
	color: #2e4453;
	cursor: pointer;
	display: block;
	font-size: 1.4rem;
	margin-top: 15px;
	padding: 0;
	text-decoration: none;
	transition: background 150ms ease-in, border 150ms ease-in;
	width: 100%;

	&:hover {
		border-color: $dark-gray-blue;

		.buy-button {
			background: $blue;
		}
	}

	@include breakpoint( '>660px' ) {
		width: 48%;
	}

	@include breakpoint( '>960px' ) {
		width: 31%;
	}
}

.suggestion-title {
	font-size: 1.4rem;
	overflow: hidden;
	padding: 25px 30px 50px 15px;
	text-overflow: ellipsis;
}

.buy-button {
	background: $gray-blue;
	color: $white;
	font-size: 1.4rem;
	padding: 10px;
	text-transform: uppercase;
	transition: background 150ms ease-in;
}

.cost {
	float: right;
}

.additional-results-link-container {
	margin: 30px 0 20px;
	text-align: center;
}

.additional-results-link {
	color: $dark-blue;
	font-size: 2.1rem;

	&:focus {
		outline: none;
	}
}

.sort {
	background: $light-blue;
	font-size: 1.4rem;
	padding: 30px 0;
	text-align: center;

	@include breakpoint( '>660px' ) {
		font-size: 1.8rem;
	}
}

.sort-select {
	appearance: none;
	background: url( 'http://s.wordpress.com/i/delphin/form-ui-select.png' ) no-repeat right center;
	background-size: 50px 63px;
	font-size: 1.8rem;
	height: 61px;
	padding: 0 70px 0 20px;
}

.search-info {
	background: $light-blue;
	color: #016f94;
	font-size: 1.7rem;
	font-weight: 600;
	padding: 20px 0 0;
	text-align: center;
}

.title {
	color: #fff;
	font-size: 2rem;
	padding: 30px;
	text-decoration: none;
}
