@import 'app/styles/breakpoints';
@import 'app/styles/fonts';

.container {
	margin: 0 auto;
	min-height: 83vh;
	text-align: center;

	@include breakpoint( '>480px' ) {
		min-height: 92vh;
	}
}

.heading {
	background: url( /images/rocket-launch.svg ) no-repeat center top;
	font: 300 3.4rem $heading-font;
	margin-top: 12vmin;
	padding: 170px 10px 0;

	@include breakpoint( '<480px' ) {
		font-size: 2.6rem;
	}
}
