@import 'app/styles/colors';

.label {
	cursor: pointer;
	display: flex;
	font-size: 1.6rem;
	margin: 15px 0;
	transition: background 0.15s;
}

.radio {
	margin-right: 10px;
	margin-top: 0;
}

.sub-header {
	font-weight: bold;
}
