@import 'app/styles/colors';
@import 'app/styles/breakpoints';

.menu {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 20px;
	padding-left: 0;
	text-align: center;
}

.link {
	color: lighten( $dark-gray-blue, 10% );
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	padding: 10px 4px;
	text-decoration: none;

	@include breakpoint( '>480px' ) {
		padding: 10px;
	}
}
