@import 'app/styles/colors';
@import 'app/styles/breakpoints';

.menu {
	margin: 0;
	padding-left: 0;

	@include breakpoint( '>660px' ) {
		text-align: center;
	}
}

.link {
	color: lighten( $gray, 10% );
	cursor: pointer;
	display: block;
	font-size: 1.4rem;
	margin-top: 8px;
	text-decoration: none;

	@include breakpoint( '>660px' ) {
		display: inline-block;
		padding: 10px;
	}
}
