@import 'app/styles/breakpoints';
@import 'app/styles/colors';
@import 'app/styles/fonts';

.header {
	background: $gray-xlight;
	padding: 30px 20px 80px;
	text-align: center;

	@include breakpoint( '<480px' ) {
		padding-bottom: 70px;
	}
}

.heading {
	color: $blue-dark;
	font-family: $heading-font;
	font-size: 3rem;
	margin-top: 40px;

	@include breakpoint( '<480px' ) {
		font-size: 2.6rem;
		margin-top: 20px;
	}
}

.text {
	color: $blue-dark;
	font-size: 2rem;
	line-height: 1.4;
	margin: 10px auto 0;
	max-width: 480px;

	strong {
		word-wrap: break-word;
	}

	@include breakpoint( '<480px' ) {
		font-size: 1.8rem;
	}
}
