@import 'app/components/ui/set-up-domain/styles';
@import 'app/components/ui/set-up-domain/form';

.service-option {
	margin: 20px 0;

	&:last-child {
		margin-bottom: 0;

		.label {
			margin-bottom: 0;
		}
	}
}

.label-header {
	display: flex;
	padding: 10px 20px;
}
