@import 'app/styles/breakpoints';
@import 'app/styles/colors';
@import 'app/styles/assets';

.terms {
	color: $gray-dark;
	font-size: 1.3rem;
	margin: 10px 0 0;
}

.powered-by {
	background: $gray-xlight;
	margin: 20px -30px;
	padding: 25px 105px 25px 30px;
	position: relative;

	&::after {
		background: url( #{$image-assets-url}/hosts/wordpress-blue.svg ) no-repeat;
		background-size: contain;
		bottom: 0;
		content: '';
		display: block;
		height: 40px;
		margin: auto;
		position: absolute;
		right: 35px;
		top: 0;
		width: 40px;
    }

	.headline {
		color: $blue-dark;
		font-size: 1.6rem;
		font-weight: bold;
		margin-bottom: 10px;
    }

	p {
		font-size: 1.6rem;
	}

	@include breakpoint( '>480px' ) {
		margin: 0;
    }
}

.email-label {
	font-size: 1.8rem !important; // necessary to overwrite Form.FieldArea styles
	font-weight: 700 !important;
	padding-bottom: 8px;
}
