// Default colors
$blue: #4f6e84;
$dark-blue: #336a9c;
$dark-gray-blue: #7a9cb5;
$gray-blue: #87a6bc;
$green: #4ab866;
$light-blue: #f3f6f8;
$red: #e44;
$black: #000;
$yellow: #e7c027;
$white: #fff;

// Border colors
$border-blue: #a8bece;
$border-light-blue: #0087be;
$search-border-blue: #dde6ec;

// Blues
$blue-light:             #78dcfa;
$blue-medium:            #00aadc;

// Grays
$gray:                   #87a6bc;

// Hosts
$host-wordpress: #0087be;
$host-medium: #000;
$host-tumblr: #36465d;
