// Blues
$blue:                  #009fd4;
$blue-dark:             #374555;

// Grays
$gray:                  #87a6bc;
$gray-medium:           #ced7df;
$gray-light:            #e3eaef;
$gray-xlight:           #f3f6f8;
$gray-dark:             #576c77;

// Primary Accents
$green:                 #00a97c;
$green-dark:            #009970;
$green-light:           #65e4c2;

// Alerts
$alert-red:             #c93e30;
$alert-yellow:          #f8ce5e;
$alert-green:           #00bf8c;
$alert-blue:            #9cddf0;

$black:                 #000;
$white:                 #fff;
$white-transparent:     rgba( 255, 255, 255, 0.95 );

// Border colors
$border-blue:           #a8bece;
$border-light-blue:     #0087be;
$search-border-blue:    #dde6ec;

// Hosts
$host-wordpress:        #0087be;
$host-medium:           #000;
$host-tumblr:           #36465d;
