// Blues
$blue: 						#4f6e84;
$blue-bright: 				#00AADC;
$blue-light:             	#f3f6f8;
$blue-medium:            	#00aadc;
$blue-dark: 				#28323E;

// Grays
$gray:                   	#87a6bc;
$dark-gray-blue: 			#7a9cb5;
$gray-blue: 				#87a6bc;

// Primary Accents
$green: 					#00BF8C;

// Alerts
$alert-red:					#C93E30;
$alert-yellow: 				#F8CE5E;
$alert-green:				#00BF8C;
$alert-blue:				#9CDDF0;

$black: 					#000;
$white: 					#fff;

// Border colors
$border-blue: 				#a8bece;
$border-light-blue: 		#0087be;
$search-border-blue: 		#dde6ec;

// Hosts
$host-wordpress: 			#0087be;
$host-medium: 				#000;
$host-tumblr: 				#36465d;
