@import 'app/styles/breakpoints';
@import 'app/styles/layouts';

.layout {
	@include layout-light;
}

.content {
	margin: 0 auto;
	min-height: 83vh;

	@include breakpoint( '>480px' ) {
		min-height: 92vh;
	}

	strong {
		font-weight: bold;
	}
}
