@import 'app/styles/assets';
@import 'app/components/ui/set-up-domain/styles';

.button {
	margin-top: 20px;
	width: 100%;
}

.setup-complete-header {
	background: url( #{$image-assets-url}party.svg ) no-repeat top right;
	display: inline-block;
	padding-right: 50px;
}

