@import 'app/styles/colors';
@import 'app/styles/breakpoints';

.instructions {
	background: url( /images/click-email.svg ) no-repeat;
	background-position: right top;
	background-size: auto 100px;
	display: block;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.4;
	margin: 0;
	min-height: 90px;
	padding: 10px 100px 0 0;

	@include breakpoint( '<480px' ) {
		background-size: auto 80px;
		font-size: 1.4rem;
	}
}

.confirmation-code-link-container {
	margin-top: 15px;
}

.confirmation-code-link {
	color: $blue;
	font-weight: 400;
	margin-top: 40px;
}

.submit-area {
	flex-direction: column;

	.button {
		margin-bottom: 30px;
		width: 100%;
	}
}

.two-factor-authentication-message {
	color: $gray;
	font-size: 1.2rem;
	margin-top: 5px;
}

.legend {
	border-top: 1px solid $gray-light;
	color: $gray;
	font-size: 1.4rem;
	font-style: normal;
	padding-top: 20px;
	text-align: center;

	a {
		color: inherit;
		cursor: pointer;
		text-decoration: underline;

		&:hover {
			color: $gray-dark;
		}
	}
}

.two-factor-fields {
	margin-top: 1.5em;
}

.logging-in {
	color: $white;
	font-size: 4em;
	margin: 100px auto;
	text-align: center;
	width: 500px;
}
