@import 'app/styles/colors';

.instructions {
	background: url( https://s0.wordpress.com/i/delphin/click-email.svg ) no-repeat right top;
	background-size: 100px;
	border-bottom: 1px solid $gray-light;
	display: block;
	font-size: 1.6rem;
	line-height: 1.4;
	margin: 0 0 30px;
	padding: 10px 100px 40px 0;
}

.legend {
	color: $gray;
	font-size: 1.4rem;
	font-style: normal;
	margin-top: 30px;

	a {
		color: inherit;
		cursor: pointer;
		text-decoration: underline;

		&:hover {
			color: $gray-dark;
		}
	}
}

.two-factor-fields {
	margin-top: 1.5em;
}

.logging-in {
	color: $white;
	font-size: 4em;
	margin: 100px auto;
	text-align: center;
	width: 500px;
}
