.tooltip {
	box-sizing: border-box;
	position: relative;

	&:hover .text {
		display: block;

		&:after {
			border: 6px solid;
			border-color: #2e4453 transparent transparent;
			content: '';
			display: block;
			position: absolute;
				left: calc(50% - 10px);
				top: 100%;
		}
	}
}

.text {
	animation-duration: 0.2s;
	background: #2e4453;
	border-radius: 3px;
	background-clip: padding-box;
	color: #fff;
	display: none;
	font-size: 0.8em;
	width: 200px;
	opacity: 0.9;
	padding: 10px;
	position: absolute;
		bottom: calc(100% + 8px);
		left: calc( 50% - 110px );
}
