@import 'app/styles/colors';

.tooltip {
	color: $gray;
	display: inline-block;
	position: relative;

	&:hover .text {
		bottom: calc( 100% + 8px );
		opacity: 0.9;
	}
}

.text {
	background: $blue-dark;
	border-radius: 3px;
	bottom: calc( 100% + 40px );
	color: $white;
	font-size: 1.2rem;
	left: calc( 50% - 110px );
	line-height: 1.4;
	opacity: 0;
	padding: 15px;
	pointer-events: none;
	position: absolute;
	transition: bottom 0.15s ease-in-out, opacity 0.15s ease-in-out;
	width: 200px;

	&::after {
		border: 6px solid;
		border-color: $blue-dark transparent transparent;
		content: '';
		left: calc( 50% - 10px );
		position: absolute;
		top: 100%;
		transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}
}
