@import 'app/styles/colors';
@import 'app/styles/fonts';
$thumb-width: 350px;
$thumb-horizontal-margin: 15px;

.content {
	margin: 20px 0 50px;
}

.heading2 {
	color: #2e4453;
	font-family: 'Merriweather', serif;
	font-size: 2.6rem;
	font-weight: 600;
	text-align: center;
}

.heading3 {
	color: #668eaa;
	font-size: 1.9rem;
	text-align: center;
}

.host-thumbnails-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.thumbnail {
	align-items: center;
	box-sizing: border-box;
	color: $white;
	display: flex;
	flex-direction: column;
	font-family: $body-font;
	justify-content: space-between;
	margin: 25px $thumb-horizontal-margin;
	padding: 40px 30px 30px;
	position: relative;
	text-align: center;
	width: $thumb-width;

	&.wordpress {
		background: $host-wordpress;
	}

	&.medium {
		background: $host-medium;
	}

	&.tumblr {
		background: $host-tumblr;
	}
}

.thumbnail-logo {
	height: 48px;
	margin: 0 auto;
	width: 48px;
}

.thumbnail-name {
	font-size: 2.1rem;
	line-height: 1.4;
}

.thumbnail-description {
	font-size: 1.4rem;
	line-height: 1.4;
	margin: 14px 0;
}

.thumbnail-learn-more {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-size: 1.8rem;
	margin-top: 25px;
	padding: 8px 30px;
	text-decoration: none;
}

.thumbnail-connect {
	bottom: -25px;
	color: #2e4453;
	font-size: 1.6rem;
	left: 0;
	position: absolute;
	width: 100%;
}

.thumbnail-link-icon {
	margin-right: 5px;
	width: 25px;
}

.logo {
	height: 50px;
	width: 150px;

	&.wordpress {
		background: url( '/images/hosts/wordpress-small.svg' ) no-repeat center center;
		background-size: contain;
	}

	&.medium {
		background: url( '/images/hosts/medium-small.svg' ) no-repeat center center;
		background-size: contain;
	}

	&.tumblr {
		background: url( '/images/hosts/tumblr-small.svg' ) no-repeat center center;
		background-size: contain;
	}
}
