@import 'app/styles/fonts.scss';
$thumb-width: 350px;
$thumb-horizontal-margin: 15px;

.content {
	margin: 20px 0 50px 0;
}

.heading2 {
	color: #2e4453;
	font-family: "Merriweather", serif;
	font-size: 2.6rem;
	font-weight: 600;
	text-align: center;
}

.heading3 {
	color: #668eaa;
	font-size: 1.9rem;
	text-align: center;
}

.host-thumbnails-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.thumbnail {
	align-items: center;
	box-sizing: border-box;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: $body-font;
	justify-content: space-between;
	margin: 25px $thumb-horizontal-margin 25px $thumb-horizontal-margin;
	padding: 40px 30px 30px;
	position: relative;
	text-align: center;
	width: $thumb-width;
}

.thumbnail-logo {
	height: 48px;
	margin: 0 auto;
	width: 48px;
}

.thumbnail-name {
	font-size: 2.1rem;
	line-height: 1.4;
}

.thumbnail-description {
	font-size: 1.4rem;
	line-height: 1.4;
	margin: 14px 0 14px 0;
}

.thumbnail-learn-more {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	color: white;
	font-size: 1.8rem;
	margin-top: 25px;
	padding: 8px 30px;
	text-decoration: none;
}

.thumbnail-connect {
	color: #2e4453;
	font-size: 1.6rem;
	position: absolute;
		bottom: -25px;
		left: 0;
	width: 100%;
}

.thumbnail-link-icon {
	width: 25px;
	margin-right: 5px;
}
