@import 'app/styles/colors';
@import 'app/styles/breakpoints';

.checkout-review {
	background-color: #fff;
	border-top: 1px solid $blue-bright;
	font-size: 1.6rem;
	font-weight: 300;
	position: relative;
	text-align: left;

	// This is here to override .app-components-ui-sunrise-step-sunrise-step a
	a.edit-link {
		color: $gray;
		font-size: 1.2rem;
		text-decoration: underline;

		&:hover {
			color: $blue-bright;
		}
	}

	a.cancel-application {
		bottom: -4rem;
		color: $gray;
		display: inline-block;
		font-size: 1.4rem;
		margin-left: -30px;
		position: absolute;
		text-align: center;
		width: 100%;

		&:hover {
			text-decoration: underline;
		}

		@include breakpoint( '<480px' ) {
			margin-left: -15px;
		}
	}
}

.summary {
	padding-bottom: 30px;
}

.domain {
	color: $blue-background;
	font-size: 2rem;
}

.application-fee {
	color: $blue-dark;
	font-size: 1.8rem;
}

.renew-fee {
	color: $gray;
	font-size: 1.2rem;
	margin-top: 5px;
	text-transform: uppercase;
}

.refund-notice {
	color: $gray-dark;
	font-size: 1.4rem;
	padding-top: 15px;

	img {
		float: right;
	}

	strong {
		color: $blue;
		display: block;
		font-weight: 400;
	}
}

.contact-review {
	line-height: 1.5;
	padding: 30px 0;
}

.payment-review {
	background-color: $gray-light;
	border-top: 1px solid $blue-bright;
	margin-left: -30px;
	margin-right: -30px;
	padding: 30px;

	.payment-title {
		color: $blue-background;
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}

	@include breakpoint( '<480px' ) {
		margin-left: -15px;
		margin-right: -15px;
		padding: 15px;
	}
}

.online-contact {
	margin-bottom: 2rem;
}

.offline-contact {
	margin-bottom: 1rem;
}

.credit-card {
	box-sizing: border-box;
	float: left;
	width: 80%;
}

.cost {
	float: left;
	text-align: right;
	width: 20%;

	&::after {
		clear: both;
	}
}

.payment-line {
	margin-bottom: 1rem;
	overflow: auto;
}


$card-type-width: 32px;

.card-type {
	background-position: 100% center;
	background-repeat: no-repeat;
	background-size: 32px auto;
	display: inline-block;
	height: 20px;
	margin-right: 5px;
	position: absolute;
	width: $card-type-width;
}

.card-number {
	margin-left: 4px + $card-type-width;
}

.visa {
	background-image: url( https://wordpress.com/calypso/images/upgrades/cc-visa.svg );
}

.amex {
	background-image: url( https://wordpress.com/calypso/images/upgrades/cc-amex.svg );
}

.discover {
	background-image: url( https://wordpress.com/calypso/images/upgrades/cc-discover.svg );
}

.mastercard {
	background-image: url( https://wordpress.com/calypso/images/upgrades/cc-mastercard.svg );
}

.purchase-button {
	display: block;
	width: 100%;
}

.terms {
	font-size: 1.3rem;
	margin: 0 0 20px;
	text-align: left;
}
