@import 'app/styles/colors';
@import 'app/styles/breakpoints';

.checkout-review {
	background-color: #fff;
	font-size: 1.6rem;
	font-weight: 300;
	position: relative;
	text-align: left;

	// This is here to override .app-components-ui-sunrise-step-sunrise-step a
	a.edit-link {
		color: $gray;
		font-size: 1.2rem;
		text-decoration: underline;

		&:hover {
			color: $blue-bright;
		}
	}

	a.cancel-application {
		bottom: -4rem;
		color: $gray;
		display: inline-block;
		font-size: 1.4rem;
		margin-left: -30px;
		position: absolute;
		text-align: center;
		width: 100%;

		&:hover {
			text-decoration: underline;
		}

		@include breakpoint( '<480px' ) {
			bottom: -1rem;
			margin-left: -15px;
		}
	}
}

.summary {
	padding-bottom: 30px;
}

.domain {
	color: $blue-dark;
	font-size: 2rem;
	word-wrap: break-word;

	@include breakpoint( '<480px' ) {
		font-size: 1.8rem;
	}
}

.application-fee {
	color: $blue-dark;
	font-size: 1.8rem;

	@include breakpoint( '<480px' ) {
		font-size: 1.6rem;
	}
}

.renew-fee {
	color: $gray;
	font-size: 1.2rem;
	margin-top: 5px;
	text-transform: uppercase;

	@include breakpoint( '<480px' ) {
		font-size: 1.1rem;
	}
}

.contact-review {
	line-height: 1.5;
	padding: 30px 0;

	@include breakpoint( '<480px' ) {
		font-size: 1.4rem;
		padding-top: 0;
	}
}

.payment-review {
	background-color: $gray-xlight;
	border-top: 1px solid $blue-bright;
	margin-left: -30px;
	margin-right: -30px;
	padding: 30px;

	.payment-title {
		color: $blue-dark;
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}

	@include breakpoint( '<480px' ) {
		background: transparent;
		border-bottom: 1px solid $gray-medium;
		border-color: $gray-medium;
		margin-bottom: 30px;
		margin-left: -15px;
		margin-right: -15px;
		padding: 15px 15px 20px;
	}
}

/*rtl:ignore*/
.online-contact {
	direction: ltr;
	margin-bottom: 2rem;
	text-align: left;
}

/*rtl:ignore*/
.offline-contact {
	direction: ltr;
	margin-bottom: 1rem;
	text-align: left;
}

/*rtl:ignore*/
.credit-card {
	box-sizing: border-box;
	float: left;
	width: 80%;
}

/*rtl:ignore*/
.cost {
	float: left;
	text-align: right;
	width: 20%;

	&::after {
		clear: both;
	}
}

/*rtl:ignore*/
.payment-line {
	direction: ltr;
	margin-bottom: 1rem;
	overflow: auto;
	text-align: left;
}


$card-type-width: 32px;

/*rtl:ignore*/
.card-type {
	background-position: 100% center;
	background-repeat: no-repeat;
	background-size: 32px auto;
	display: inline-block;
	height: 20px;
	margin-right: 5px;
	position: absolute;
	width: $card-type-width;
}

/*rtl:ignore*/
.card-number {
	direction: ltr;
	margin-left: 4px + $card-type-width;
}

.visa {
	background-image: url( https://s0.wp.com/i/delphin/cc-visa.svg );
}

.americanexpress {
	background-image: url( https://s0.wp.com/i/delphin/cc-amex.svg );
}

.discover {
	background-image: url( https://s0.wp.com/i/delphin/cc-discover.svg );
}

.mastercard {
	background-image: url( https://s0.wp.com/i/delphin/cc-mastercard.svg );
}

.purchase-button {
	display: block;
	width: 100%;
}

.terms {
	color: $gray-dark;
	font-size: 1.3rem;
	margin: 0 0 20px;
	text-align: left;
}

.processing-payment {
	align-content: center;
	animation-duration: 0.5s;
	animation-name: fadeIn;
	background: rgba( $white, 0.95 );
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	font-weight: 300;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;

	.icon {
		background: url( https://s0.wp.com/i/delphin/card-blue.svg ) no-repeat;
		height: 39px;
		margin: 0 auto;
		position: relative;
		width: 58px;

		&::after {
			animation: moveLeft 0.5s infinite linear;
			background-image: linear-gradient( -45deg, transparent 33%, rgba(255, 255, 255, 0.25) 33%, rgba(255, 255, 255, 0.25) 66%, transparent 66%);
			background-size: 16px 9px, 100% 100%, 100% 100%;
			content: '';
			display: block;
			height: 9px;
			left: 2px;
			position: absolute;
			top: 5px;
			width: 54px;
		}
	}

	p {
		font-size: 2rem;
		margin: 20px auto;
		max-width: 260px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes moveLeft {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 16px 0;
	}
}
