@import 'app/styles/colors.scss';

.form {
	display: block;
	font-size: 1.4rem;
	margin: 0 auto;
	max-width: 400px;

	input, button {
		font-family: inherit;
	}

	>:first-child {
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}

	>:last-child {
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}

.notice-area {
	background: #2e4453;
	color: white;
	font-size: 1.7rem;
	padding: 30px;
}

.field-area {
	background: $light-blue;
	padding: 30px;

	fieldset {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	label {
		display: block;
		font-size: 1.3rem;
		margin-bottom: 5px;
	}

	input,
	select {
		border: 1px solid $border-blue;
		border-radius: 2px;
		box-sizing: border-box;
		display: block;
		font-size: 1.5rem;
		padding: 10px 12px;
		width: 100%;

		&:disabled {
			background: darken( $white, 2% );
		}

		&:focus {
			border-color: $border-light-blue;
			outline: none;
		}
	}
}

.submit-area {
	background: #e9eff3;
	border-top: 1px solid #c8d7e1;
	padding: 30px;
	text-align: center;

	button {
		background: #87a6bc;
		border: none;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		display: inline-block;
		font-size: 1.6rem;
		margin: 0 auto;
		padding: 15px;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.3s;
		width: 100%;

		&:disabled {
			opacity: 0.3;
		}

		&:hover {
			background: #97b2c5;
		}
	}
}

.validation-error {
	color: $red;
	margin-top: 5px;
}
