@import 'app/styles/colors';

.form {
	display: block;
	font-size: 1.4rem;
	margin: 0 auto;
	max-width: 400px;

	input,
	button {
		font-family: inherit;
	}

	>:first-child {
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}

	>:last-child {
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}

.notice-area {
	background: #2e4453;
	color: #fff;
	font-size: 1.7rem;
	padding: 30px;
	word-wrap: break-word;
}

.field-area {
	background: $white;
	border-radius: 3px 3px 0 0;
	padding: 30px;

	fieldset {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	label {
		display: block;
		font-size: 1.3rem;
		margin-bottom: 5px;
	}

	input,
	select {
		border: 1px solid $border-blue;
		border-radius: 2px;
		box-sizing: border-box;
		display: block;
		font-size: 1.5rem;
		padding: 10px 12px;
		width: 100%;

		&:disabled {
			background: darken( $white, 3% );
			color: darken( $white, 12% );
			cursor: not-allowed;

			&::placeholder {
				color: darken( $white, 12% );
			}
		}

		&:focus {
			border-color: $border-light-blue;
			outline: none;
		}
	}
}

.submit-area {
	background: $gray-light;
	padding: 30px;
	text-align: center;
}

.validation-error {
	background: $alert-yellow;
	border-radius: 0 0 3px 3px;
	color: $black;
	padding: 10px;
}

.arrow {
	display: inline-block;
	font-size: 1.5rem;
	margin: 1px 5px;
}

.input-container {
	position: relative;
}

.gridicon {
	cursor: pointer;
	fill: $alert-yellow;
	position: absolute;
	right: 10px;
	top: 12px;
}

.input {
	&.has-error {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-color: $alert-yellow;
		padding-right: 30px;
	}
}
