@import 'app/styles/colors';
@import 'app/styles/breakpoints';

.form {
	background-color: $white;
	border: 1px solid $gray-light;
	border-radius: 3px;
	color: $blue-dark;
	display: block;
	font-size: 1.4rem;
	margin: -40px auto 25px;
	max-width: 440px;

	@include breakpoint( '<480px' ) {
		border: 0;
		border-radius: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		padding: 30px 20px 0;
	}

	input,
	button {
		font-family: inherit;
	}

	button {
		width: 100%;
	}
}

input::-ms-clear,
input::-ms-reveal {
	display: none;
	height: 0;
	width: 0;
}

.notice-area {
	background: $gray-light;
	font-size: 1.6rem;
	line-height: 1.4;
	padding: 30px;
	word-wrap: break-word;

	@include breakpoint( '<480px' ) {
		background: transparent;
		border-bottom: 1px solid $gray-medium;
		font-size: 1.4rem;
		margin: -30px -20px 25px;
		padding: 20px;
	}
}

.validation-error {
	background: $alert-yellow;
	color: $black;
	padding: 10px;
}

.arrow {
	display: inline-block;
	font-size: 1.5rem;
	margin: 1px 5px;
}

.input-container {
	position: relative;
}

.gridicon {
	cursor: pointer;
	fill: $alert-yellow;
	position: absolute;
	right: 10px;
	top: 12px;

	/*rtl:ignore*/
	&.gridicon-ltr {
		left: auto;
		right: 10px;
	}
}

.input {
	&.has-error {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-color: $alert-yellow;
		padding-right: 30px;

		/*rtl:ignore*/
		&.error-ltr {
			padding-left: 16px;
			padding-right: 30px;
		}
	}
}
