@import 'app/styles/colors';

.back-notice {
	color: $gray-dark;
	font-size: 1.3rem;
	margin: 25px 0 20px;
	text-align: center;
	width: 100%;
}

.trademark-warning {
	background-color: $alert-yellow;
}

.trademark-notice {
	font-size: 1.4rem;
	margin-bottom: 1.5rem;

	p {
		margin-bottom: 1rem;
	}
}
