@import 'app/styles/colors';
@import 'app/styles/breakpoints';

.trademark-warning {
	background-color: $alert-yellow;
	font-size: 1.8rem;
	font-weight: bold;
	margin: -40px auto 0;
	max-width: 380px;
	padding: 30px 20px;

	@include breakpoint( '>480px' ) {
		padding: 30px;
	}
}

body .form { // specificity needed to override `SunriseStep.Form` styles
	box-shadow: none;
	margin-top: 0;
}

.back-link {
	color: $gray-dark;
	display: inline-block;
	margin-top: 15px;
	text-decoration: underline;
}
