@import 'app/styles/colors';

$step-inner-dot-size: 14px;
$step-dot-size: 30px;
$step-line-size: 8px;
$inactive-step-color: $blue-light;
$active-step-color: #c8d7e1;
$inner-dot-color: $gray-blue;

.progressbar {
	display: flex;
	margin: 20px auto;
	max-width: 400px;
}

@mixin step-line-style( $color, $width ) {
	background-color: $color;
	bottom: ( $step-inner-dot-size - ( $step-line-size/2 ) );
	content: ' ';
	height: $step-line-size;
	left: 0;
	position: absolute;
	width: $width;
	z-index: -2;
}

.progressbar-step {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	position: relative;

	&::after {
		@include step-line-style( $inactive-step-color, 100% );
	}

	&:first-child {
		&::after {
			@include step-line-style( $inactive-step-color, 50% );
			margin-left: 50%;
		}
	}

	&:last-child {
		&::after {
			@include step-line-style( $inactive-step-color, 50% );
		}
	}
}

.progressbar-step-active {
	&:first-child,
	&:last-child {
		&::after {
			background-color: $active-step-color;
		}
	}

	&::after {
		background-color: $active-step-color;
	}

	.progressbar-step-dot {
		&::before {
			background-color: $active-step-color;
		}
	}
}

.progressbar-step-last-active {
	position: relative;

	&::before {
		@include step-line-style( $inactive-step-color, 50% );
		margin-left: 50%;
		z-index: -1;
	}

	&:last-child {
		&::before {
			height: 0;
			width: 0;
		}
	}
}

@mixin dot-styles( $size, $color ) {
	background-color: $color;
	border-radius: 50%;
	content: ' ';
	height: $size;
	left: 50%;
	margin-left: -$size / 2;
	margin-top: -$size / 2;
	position: absolute;
	top: 50%;
	width: $size;
}

.progressbar-step-caption {
	color: $inner-dot-color;
	font-size: 1.3rem;
	text-align: center;
	text-transform: uppercase;
}

.progressbar-step-dot {
	height: $step-dot-size;
	margin-top: 2.5em;
	position: relative;

	&::before {
		@include dot-styles( $step-dot-size, $inactive-step-color )
	}

	&::after {
		@include dot-styles( $step-inner-dot-size, $inner-dot-color )
	}
}
