@import 'app/styles/colors.scss';

$step-inner-dot-size: 14px;
$step-dot-size: 30px;
$step-line-size: 8px;
$inactive-step-color: $light-blue;
$active-step-color: #c8d7e1;
$inner-dot-color: $gray-blue;

.progressbar {
	display: flex;
	margin: 20px auto;
	max-width: 400px;
}

@mixin step-line-style( $color, $width ) {
	background-color: $color;
	content: ' ';
	width: $width;
	height: $step-line-size;

	position: absolute;
		left: 0;
		bottom: ( $step-inner-dot-size - ( $step-line-size/2 ) );

	z-index: -2;
}

.progressbar-step {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;

	position: relative;

	&:after {
		@include step-line-style( $inactive-step-color, 100% );
	}

	&:first-child {
		&:after {
			@include step-line-style( $inactive-step-color, 50% );
			margin-left: 50%;
		}
	}

	&:last-child {
		&:after {
			@include step-line-style( $inactive-step-color, 50% );
		}
	}
}

.progressbar-step-active {
	&:first-child,
	&:last-child {
		&:after {
			background-color: $active-step-color;
		}
	}

	&:after {
		background-color: $active-step-color;
	}

	.progressbar-step-dot {
		&:before {
			background-color: $active-step-color;
		}
	}
}

.progressbar-step-last-active {
	position: relative;

	&:before {
		@include step-line-style( $inactive-step-color, 50% );
		z-index: -1;
		margin-left: 50%;
	}

	&:last-child {
		&:before {
			width: 0;
			height: 0;
		}
	}
}

@mixin dot-styles( $size, $color ) {
	position: absolute;
		left: 50%;
		margin-left: -$size/2;
		top: 50%;
		margin-top: -$size/2;

	width: $size;
	height: $size;

	border-radius: 50%;
	background-color: $color;

	content: ' ';
}

.progressbar-step-caption {
	text-transform: uppercase;
	text-align: center;
	color: $inner-dot-color;
	font-size: 1.3rem;
}

.progressbar-step-dot {
	position: relative;
	margin-top: 2.5em;
	height: $step-dot-size;

	&:before {
		@include dot-styles( $step-dot-size, $inactive-step-color )
	}

	&:after {
		@include dot-styles( $step-inner-dot-size, $inner-dot-color )
	}
}