@import 'app/styles/colors';
@import 'app/styles/fonts';
@import 'app/styles/breakpoints';

.header {
	background-color: $blue-background;
	padding: 50px 200px;

	h1 {
		color: #fff;
		font-size: 3rem;
		margin-bottom: 10px;
		margin-top: 40px;
	}

	h2 {
		color: #fff;
		font-size: 2rem;
		font-weight: 200;
		margin-bottom: 30px;
	}
}
