@import 'app/styles/colors';
@import 'app/styles/fonts';
@import 'app/styles/breakpoints';

.container {
	background-color: $gray-xlight;
}

.header {
	margin: 0 auto;
	max-width: 500px;
	padding: 50px 20px 80px;
	text-align: center;

	@include breakpoint( '<480px' ) {
		padding-bottom: 70px;
	}

	h1 {
		color: $blue-dark;
		font-family: $heading-font;
		font-size: 3rem;
		font-weight: 400;
		margin-top: 40px;

		@include breakpoint( '<480px' ) {
			font-size: 2.6rem;
			margin-top: 0;
		}
	}

	h2 {
		color: $gray;
		font-family: $body-font;
		font-size: 2rem;
		font-weight: 300;
		line-height: 1.4;
		margin-top: 10px;

		@include breakpoint( '<480px' ) {
			font-size: 1.8rem;
			line-height: 1.35;
		}
	}
}
