doctype html
html
	head
		if localeData
			script(type='text/javascript')!='var localeData = ' + JSON.stringify( localeData ) + ';'
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(src="/build/client.bundle.js" async)
		link(rel="stylesheet", href="/styles/reset.css")
		style(type='text/css').
			#{css}

	body
		#content!= content
