doctype html
html
	head
		script(src="/build/client.bundle.js" async)
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body(style="margin: 0; padding: 0;")
		#content!= content
