doctype html
html
	head
		if localeData
			script(type='text/javascript')!='var localeData = ' + JSON.stringify( localeData ) + ';'
		title MagicDomains
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
		link(rel="stylesheet", href="/styles/reset.css")
		style(type='text/css').
			#{css}

	body
		#content!= content
		script(src="/scripts/bundle.js")
