@import 'app/components/ui/form/styles';

.expiration {
	display: flex;
	justify-content: space-between;

	.expiration-month {
		flex: 0 1 60%;
	}

	.expiration-year {
		flex: 0 1 35%;
	}
}

.security-code {
	width: 40%;
}

.order-summary {
	background-color: lighten( $gray-light, 5% );
	border-top: 1px solid #c8d7e1;
	font-size: 1.4rem;
	font-weight: 300;
	padding: 30px;

	h2 {
		color: $blue-dark;
		font-size: 1.3rem;
		font-weight: 600;
		margin: 5px 0 20px;
		text-transform: uppercase;
	}
}

.order-item {
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}

.privacy-protection-price {
	margin-left: 20px;
}
