@import 'app/components/ui/form/styles';
@import 'app/styles/colors';
@import 'app/styles/breakpoints';

.header {
	background: $blue-background;
	padding: 30px 20px 80px;
}

.expiration {
	display: flex;
	justify-content: space-between;

	.expiration-month {
		flex: 0 1 60%;
	}

	.expiration-year {
		flex: 0 1 35%;
	}
}

.security-code {
	width: 40%;

	@include breakpoint( '<480px' ) {
		width: 100%;
	}
}

.order-summary {
	background-color: $gray-light;
	border-top: 1px solid $blue-bright;
	font-size: 1.4rem;
	font-weight: 300;
	margin-bottom: 30px;
	padding: 30px;

	h2 {
		color: $blue-dark;
		font-size: 1.3rem;
		font-weight: 600;
		margin: 5px 0 20px;
		text-transform: uppercase;
	}

	@include breakpoint( '<480px' ) {
		margin-bottom: 15px;
		padding: 15px;
	}
}

.order-item {
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}

.privacy-protection-price {
	margin-left: 20px;
}

.billing-address {
	display: flex;
	justify-content: space-between;

	.country-code {
		flex: 0 1 60%;
	}

	.postal-code {
		flex: 0 1 35%;
	}

	@include breakpoint( '<480px' ) {
		flex-wrap: wrap;

		.country-code {
			flex: 1 0 100%;
			margin-bottom: 20px;
		}

		.postal-code {
			flex: 1 0 100%;
		}
	}
}
