@import 'app/components/ui/form/styles';
@import 'app/styles/assets';
@import 'app/styles/colors';
@import 'app/styles/breakpoints';
@import 'app/styles/fonts';

.header {
	background: $gray-xlight;
	padding: 30px 20px 80px;
	text-align: center;

	@include breakpoint( '<480px' ) {
		padding-bottom: 70px;
	}
}

.heading {
	color: $blue-dark;
	font-family: $heading-font;
	font-size: 3rem;
	margin-top: 40px;

	@include breakpoint( '<480px' ) {
		font-size: 2.6rem;
		margin-top: 20px;
	}
}

.expiration {
	display: flex;
	justify-content: space-between;

	.expiration-month {
		border-right-width: 0;
		flex: 0 1 65%;
	}

	.expiration-year {
		flex: 0 1 35%;
	}
}

.refund-notice {
	margin: 0 30px;
	padding: 0 0 25px;

	p {
		color: $gray-dark;
		font-size: 1.4rem;
		line-height: 1.8rem;
	}

	@include breakpoint( '<480px' ) {
		border-top: 1px solid $gray-medium;
		margin: 15px -20px 0;
		padding: 30px 20px 25px;
	}

	strong {
		color: $blue;
		display: block;
		font-weight: 400;
	}
}

.order-summary {
	background-color: $gray-xlight;
	border-top: 1px solid $blue;
	font-size: 1.4rem;
	margin-bottom: 30px;
	padding: 30px;

	h2 {
		color: $blue-dark;
		font-size: 1.3rem;
		font-weight: 700;
		margin: 5px 0 20px;
		text-transform: uppercase;
	}

	@include breakpoint( '<480px' ) {
		background-color: transparent;
		border-color: $gray-medium;
		margin: 15px -20px 0;
		padding: 15px 20px;
	}
}

.order-item {
	display: flex;
	justify-content: space-between;
	margin: 15px 0;

	.item-description {
		padding: 0 10px 0 0;
	}
}

.order-total {
	font-weight: 700;
}

.privacy-protection-price {
	display: inline-block;
	margin-left: 10px;
}

.privacy-label {
	margin-right: 5px;
}

.gridicon {
	fill: $gray;
	position: relative;
	right: 0;
	top: 3px;

	&:hover {
		fill: $gray-dark;
	}
}

.checkout-error {
	align-content: center;
	animation-duration: 0.5s;
	animation-name: fadeIn;
	background: rgba( $white, 0.95 );
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;

	.icon {
		animation-duration: 0.5s;
		animation-name: bounceIn;
		background: url( #{$image-assets-url}checkout-error.svg );
		height: 46px;
		margin: 0 auto;
		width: 72px;
	}

	p {
		animation-duration: 0.75s;
		animation-name: fadeUp;
		color: $blue-dark;
		font-size: 2rem;
		margin: 20px auto;
		max-width: 100%;
		width: 260px;

		span {
			display: block;
			font-size: 1.6rem;
			margin-top: 30px;
		}
	}

	a {
		color: $alert-red;
		text-decoration: underline;
	}
}

.form {
	position: relative;
}

.credit-cards {
	float: right;
}

.visa,
.visa-disabled,
.mastercard,
.mastercard-disabled,
.discover,
.discover-disabled,
.amex,
.amex-disabled {
	background-size: contain;
	display: inline-block;
	height: 20px;
	margin-left: 3px;
	width: 32px;
}

.visa {
	background-image: url( #{$image-assets-url}credit-cards/cc-visa.svg );
}

.visa-disabled {
	background-image: url( #{$image-assets-url}credit-cards/cc-visa-disabled.svg );
}

.mastercard {
	background-image: url( #{$image-assets-url}credit-cards/cc-mastercard.svg );
}

.mastercard-disabled {
	background-image: url( #{$image-assets-url}credit-cards/cc-mastercard-disabled.svg );
}

.discover {
	background-image: url( #{$image-assets-url}credit-cards/cc-discover.svg );
}

.discover-disabled {
	background-image: url( #{$image-assets-url}credit-cards/cc-discover-disabled.svg );
}

.amex {
	background-image: url( #{$image-assets-url}credit-cards/cc-amex.svg );
}

.amex-disabled {
	background-image: url( #{$image-assets-url}credit-cards/cc-amex-disabled.svg );
}

.number-label {
	float: left;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes bounceIn {
	0%,
	60%,
	100% {
		animation-timing-function: cubic-bezier( 0.215, .61, .355, 1 );
	}

	0% {
		opacity: 0;
		transform: scale3d( .3, .3, .3 );
	}

	60% {
		transform: scale3d( 1.1, 1.1, 1.1 );
	}

	100% {
		opacity: 1;
		transform: scale3d( 1, 1, 1 );
	}
}

@keyframes bounceIn {
	0%,
	60%,
	100% {
		animation-timing-function: cubic-bezier( 0.215, .61, .355, 1 );
	}

	0% {
		opacity: 0;
		transform: scale3d( .3, .3, .3 );
	}

	60% {
		transform: scale3d( 1.1, 1.1, 1.1 );
	}

	100% {
		opacity: 1;
		transform: scale3d( 1, 1, 1 );
	}
}

@-webkit-keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY( -40px );
	}

	50% {
		opacity: 0;
		transform: translateY( -40px );
	}

	100% {
		opacity: 1;
		transform: translateY( 0 );
	}
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY( -40px );
	}

	50% {
		opacity: 0;
		transform: translateY( -40px );
	}

	100% {
		opacity: 1;
		transform: translateY( 0 );
	}
}

.processing-payment {
	align-content: center;
	animation-duration: 0.5s;
	animation-name: fadeIn;
	background: rgba( $white, 0.95 );
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;

	.icon {
		background: url( #{$image-assets-url}card-blue.svg ) no-repeat;
		height: 39px;
		margin: 0 auto;
		position: relative;
		width: 58px;

		&::after {
			animation: moveLeft 0.5s infinite linear;
			background-image: linear-gradient( -45deg, transparent 33%, rgba(255, 255, 255, 0.25) 33%, rgba(255, 255, 255, 0.25) 66%, transparent 66%);
			background-size: 16px 9px, 100% 100%, 100% 100%;
			content: '';
			display: block;
			height: 9px;
			left: 2px;
			position: absolute;
			top: 5px;
			width: 54px;
		}
	}

	p {
		font-size: 2rem;
		margin: 20px auto;
		max-width: 100%;
		width: 260px;
	}
}

.trademark {
	background-color: $alert-yellow;
	border-radius: 3px;
	font-size: 0.8em;
	font-weight: bold;
	margin-left: 10px;
	padding: 4px 10px;
}

@keyframes moveLeft {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 16px 0;
	}
}
