@import 'app/styles/colors';

.radio {
	border: solid 1px $gray;
	border-radius: 50%;
	height: 16px;
	outline: none;
	transition: border-color 0.1s, box-shadow 0.1s;
	width: 16px;

	&::after {
		background: $blue;
		border-radius: 50%;
		content: '';
		display: inline-block;
		height: 8px;
		margin: 3px;
		transform: scale3d( 0, 0, 0 );
		transition: transform 0.2s;
		width: 8px;
	}

	&:hover {
		border-color: $blue;
	}

	&:checked {
		border-color: $blue;

		&::after {
			transform: scale3d( 1, 1, 1 );
		}
	}
}
