@import 'app/styles/assets';
@import 'app/styles/colors';
@import 'app/styles/breakpoints';
@import 'app/styles/fonts';

.four-oh-four {
	margin: 12vmin 10px;
	text-align: center;

	h1 {
		background: url( #{$image-assets-url}ui-illustrations/404.svg ) no-repeat center top;
		background-size: auto 150px;
		color: $blue-dark;
		font: 400 2.6rem $heading-font;
		margin-bottom: 10px;
		padding-top: 170px;

		@include breakpoint( '>480px' ) {
			font-size: 3.4rem;
		}
	}

	h2 {
		color: $gray-dark;
		font: 1.8rem $body-font;

		@include breakpoint( '>480px' ) {
			font-size: 2rem;
		}
	}
}
