.heading {
	font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
	font-size: 3.0rem;
	font-weight: 600;
	margin-top: 45px;
	text-align: center;
}

.field {
	background-color: #f3f6f8;
	border: 1px solid #a8bece;
	border-radius: 3px;
	box-sizing: border-box;
	color: #555;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 1.8rem;
	margin-top: 30px;
	padding: 16px 15px;
	transition: all .15s ease-in-out;
	width: 100%;

	&:hover {
		border-color: #aaa;
		background-color: #fff;
	}

	&:focus {
		color: #5c6671;
		border-color: #0087be;
		background-color: #fff;
		outline: none;
		box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.3);
	}
}

.button {
	background: #87a6bc;
	border: 0;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: normal;
	margin: 30px auto 0 auto;
	outline: none;
	padding: 18px 40px;
	text-transform: uppercase;

	&:hover {
		color: #f3f6f8;
	}
}

