@import 'app/styles/colors';
@import 'app/styles/fonts';
@import 'app/styles/breakpoints';

.heading {
	font-family: $heading-font;
	font-size: 3rem;
	font-weight: 600;
	margin-top: 45px;
	text-align: center;
}

.field {
	background-color: $blue-light;
	border: 1px solid $border-blue;
	border-radius: 3px;
	box-sizing: border-box;
	color: #555;
	font-family: $body-font;
	font-size: 1.6rem;
	margin-top: 30px;
	padding: 16px 15px;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
	width: 100%;

	&:hover {
		background-color: #fff;
		border-color: #aaa;
	}

	&:focus {
		background-color: #fff;
		border-color: #0087be;
		box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.3);
		color: #5c6671;
		outline: none;
	}

	@include breakpoint( '>660px' ) {
		font-size: 1.8rem;
	}
}

.button {
	background: $gray-blue;
	border: 0;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: normal;
	margin: 30px auto 0;
	outline: none;
	padding: 18px 40px;
	text-transform: uppercase;

	&:hover {
		color: $blue-light;
	}

	&:disabled {
		background: lighten( $gray-blue, 20% );
	}
}

.empty-search-notice {
	background: #2e4453;
	border-radius: 0 0 3px 3px;
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	font-size: 1.3rem;
	margin-top: -2px;
	padding: 10px;
	width: 100%;
}

.empty-search-notice-enter {
	opacity: 0.01;
}

.empty-search-notice-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.need-inspiration {
	float: right;
	text-decoration: underline;
}

.warning {
	background: lighten( $alert-red, 30% );
	border: 1px solid $alert-red;
	color: $alert-red;
	padding: 2rem;
	text-align: center;
}

.warning-heading {
	font-size: 3rem;
	font-weight: 600;
}

.warning-text {
	font-size: 2rem;
}
