.host-thumbnails-list {
	display: flex;
}

.thumbnail {
	width: 350px;
	height: 323px;
}

	.thumbnail-logo {

	}

	.thumbnail-name {

	}

	.thumbnail-description {

	}

	.thumbnail-learn-more {

	}

	.thumbnail-connect {

	}