@import 'app/styles/colors';
@import 'app/styles/fonts';
@import 'app/styles/breakpoints';

.price-tag {
	font-size: 1.8rem;
}

.renewal-info {
	color: $gray;
	font-size: 1.2rem;
	margin-top: 5px;
	text-transform: uppercase;
}

.button {
	margin-bottom: 20px;
	margin-top: 30px;
	padding: 18px 0;
	width: 100%;
}

.back-notice {
	font-size: 1.3rem;
	text-align: center;
	width: 100%;
}

.premium-flag {
	background: $blue-bright;
	border-radius: 3px;
	color: $white;
	float: right;
	font-size: 1rem;
	font-weight: 400;
	padding: 6px 12px;
	text-transform: uppercase;
}
