.phone-container {
	display: flex;
	justify-content: space-between;
}

.phone-number {
	width: 100%;
}

.calling-code {
	max-width: 90px;
}

.phone-container .calling-code .calling-code-input { // specificity necessary to override default `Form` styles
	border-right: 0;
}
