@import 'app/styles/colors';

$height: 10px;

.progress-wrapper {
	background: $gray-medium;
	border-radius: $height / 2;
}

.progress {
	background: $green;
	border-radius: $height / 2;
	height: $height;
}
