@import 'app/styles/breakpoints';
@import 'app/styles/colors';

.new-domain-card {
	align-items: center;
	border: 2px dashed $gray-medium;
	box-sizing: border-box;
	color: $gray-dark;
	cursor: pointer;
	display: flex;
	flex-basis: 32%;
	flex-wrap: wrap;
	font-size: 1.8rem;
	justify-content: center;
	margin-bottom: 20px;
	min-height: 200px;
	padding: 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;

	@include breakpoint( '<1040px' ) {
		flex-basis: 49%;
	}

	@include breakpoint( '<660px' ) {
		flex-basis: 100%;
	}
}

.gridicon {
	display: block;
	fill: $gray-dark;
	margin: 0 auto 10px;
}
