@import 'app/styles/breakpoints';

.new-domain-card {
	display: flex;
	flex-basis: 32%;
	flex-wrap: wrap;
	min-height: 200px;
	align-items: center;
	border: 2px dashed #c8d7e1;
	color: #87a6bc;
	cursor: pointer;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.8rem;
	margin-bottom: 20px;
	position: relative;
	width: 100%;

	@include breakpoint( '<1040px' ) {
		flex-basis: 49%;
	}

	@include breakpoint( '<660px' ) {
		flex-basis: 100%;
	}
}

.gridicon {
	display: block;
	fill: #87a6bc;
	margin: 0 auto 10px auto;
}