@import 'app/styles/colors.scss';
@import 'app/styles/fonts.scss';

.search-wrapper {
	background: white;
	border: 1px solid $search-border-blue;
	display: flex;
	justify-content: space-between;
	margin-left: 15px;
	padding: 10px;
	position: relative;
	width: 100%;

	input {
		background: transparent;
		border: none;
		display: inline-block;
		font-size: 18px;
		margin-top: 3px;
		outline: none;
		padding: 3px;
		vertical-align: top;
		width: 100%;
	}
}

.keywords {
	display: flex;
}

.keyword {
	background: $gray-blue;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-size: 15px;
	line-height: 21px;
	margin-right: 5px;
	padding: 5px 34px 5px 10px;
	position: relative;
	user-select: none;
}

.keyword-action {
	border: none;
	border-radius: 0px 5px 5px 0px;
	font-size: 16px;
	height: 100%;
	position: absolute;
		right: 0;
		top: 0;
	width: 28px;
}

.keyword-delete {
	background: url( http://s.wordpress.com/i/delphin/trash.svg ) center no-repeat $dark-gray-blue;
}

.keyword-select {
	background: url( http://s.wordpress.com/i/delphin/right-arrow.svg ) center no-repeat $dark-gray-blue;
}

.domain-delete {
	color: $white;
	line-height: 31px;
	text-align: center;
}

.keyword-hidden {
	display: none;
}

.keyword-selected {
 	background: #2e4453;
}

.related-words {
	background: white;
	border: 1px solid $search-border-blue;
	padding: 25px 10px;
	position: absolute;
		left: -1px;
		top: 51px;
	width: calc(100% - 20px);

	h3 {
		font-size: 16px;
	}
}

.related-words-enter {
	opacity: 0.01;
}

.related-words-enter-active {
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.related-words-leave {
	opacity: 1;
}

.related-words-leave-active {
	opacity: 0.01;
	transition: opacity 0.2s ease-in-out;
}

.related-words-list-item {
	background: $gray-blue;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	margin-top: 5px;
	margin-right: 10px;
	padding: 5px 10px;
	user-select: none;
}
