@import 'app/styles/assets';
@import 'app/styles/colors';
@import 'app/styles/fonts';
@import 'app/styles/breakpoints';

.search-wrapper {
	border: 0;
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
	padding: 10px;
	position: relative;
	width: 100%;

	input {
		background: transparent;
		border: 0;
		color: $blue-dark;
		display: inline-block;
		font-size: 18px;
		margin-top: 3px;
		outline: none;
		padding: 3px;
		vertical-align: top;
		width: 100%;

		@include breakpoint( '<660px' ) {
			font-size: 16px;
			margin-top: 5px;
			padding: 10px 3px;
		}
	}

	@include breakpoint( '<660px' ) {
		flex-direction: column;
		order: 2;
	}
}

.keywords-wrapper {
	flex-shrink: 0;
}

.keywords {
	display: flex;

	@include breakpoint( '<660px' ) {
		flex-wrap: wrap;
	}
}

.keyword {
	background: $green;
	border-bottom: 2px solid $green-dark;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	flex-shrink: 0;
	font-size: 15px;
	line-height: 21px;
	margin-right: 5px;
	padding: 5px 30px 5px 10px;
	position: relative;
	user-select: none;
	white-space: nowrap;

	@include breakpoint( '<660px' ) {
		margin-bottom: 5px;
	}

	&::after,
	&::before {
		border-color: transparent transparent $gray-light;
		border-style: solid;
		border-width: 0 8px 9px;
		content: '';
		display: block;
		height: 0;
		left: calc( 50% - 8px );
		opacity: 0;
		position: absolute;
		top: 37px;
		transition: opacity .2s ease-in-out;
		width: 0;
		z-index: 2;
	}

	&::after {
		border-color: transparent transparent $white;
		border-width: 0 7px 8px;
		margin: 1px 0 0 1px;
		transition: opacity 0.1s ease-in-out;
	}

	&.keyword-is-selected {
		&::after,
		&::before {
			opacity: 1;
		}
	}

	&.keyword-is-domain {
		&::after,
		&::before {
			display: none;
		}
	}
}

.keyword-action {
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	border-radius: 0 5px 5px 0;
	font-size: 16px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}

.keyword-delete {
	background-image: url( #{$image-assets-url}trash.svg );
	background-size: 12px;
}

.keyword-select {
	background-image: url( #{$image-assets-url}down-arrow.svg );
	background-size: 15px;
	margin: 1px 0 0;
}

.keyword-hidden {
	display: none;
}

.keyword-is-selected {
	background: $green-dark;
}

.keyword-is-domain {
	padding-right: 10px;

	&.keyword-is-selected {
		padding-right: 34px;
	}
}

.related-words {
	background: $white;
	border: 1px solid $gray-light;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba( $gray-dark, 0.2 );
	left: 0;
	max-width: 400px;
	padding: 15px 10px;
	position: absolute;
	top: 45px;
	width: calc(100vw - 50px);
	z-index: 2;

	h3 {
		color: $gray-dark;
		font-size: 14px;
		margin: 0 0 5px;
	}

	strong {
		font-weight: bold;
	}
}

.related-words-list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.related-words-enter {
	opacity: 0.01;
}

.related-words-enter-active {
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.related-words-leave {
	opacity: 1;
}

.related-words-leave-active {
	opacity: 0.01;
	transition: opacity 0.2s ease-in-out;
}

.google-translate-attribution {
	margin-left: auto;
	margin-right: 2px;
	margin-top: 17px;
}

.related-words-list-item {
	background: $white;
	border: 1px solid $gray-medium;
	border-bottom-width: 2px;
	border-radius: 5px;
	box-sizing: border-box;
	color: $blue-dark;
	cursor: pointer;
	display: inline-block;
	flex-basis: 100%;
	font-size: 15px;
	margin-top: 10px;
	padding: 10px 15px;
	transition: border 150ms ease-in-out, color 150ms ease-in-out;
	user-select: none;

	&:hover {
		border-color: $gray;
		color: $blue-dark;
	}

	@include breakpoint( '>480px' ) {
		flex-basis: 48%;
	}
}
