@import 'app/styles/assets';
@import 'app/styles/colors';
@import 'app/styles/fonts';
@import 'app/styles/breakpoints';

.search-wrapper {
	border: 0;
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
	padding: 10px;
	position: relative;
	width: 100%;

	input {
		background: transparent;
		border: 0;
		color: $blue-dark;
		display: inline-block;
		font-size: 18px;
		margin-top: 3px;
		outline: none;
		padding: 3px;
		vertical-align: top;
		width: 100%;

		@include breakpoint( '<660px' ) {
			font-size: 16px;
			margin-top: 5px;
			padding: 10px 3px;
		}
	}

	@include breakpoint( '<660px' ) {
		flex-direction: column;
		order: 2;
	}
}

.keywords-wrapper {
	flex-shrink: 0;
}

.keywords {
	display: flex;

	@include breakpoint( '<660px' ) {
		flex-wrap: wrap;
	}
}

.keyword {
	background: $green;
	border-bottom: 2px solid $green-dark;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	flex-shrink: 0;
	font-size: 15px;
	line-height: 21px;
	margin-right: 5px;
	padding: 5px 30px 5px 10px;
	position: relative;
	user-select: none;
	white-space: nowrap;

	@include breakpoint( '<660px' ) {
		margin-bottom: 5px;
	}
}

.keyword-icon {
	fill: #fff;
	position: absolute;
	right: 5px;
	top: calc( 50% - 9px );
}
