@import 'app/styles/colors';

.form-toggle[type=checkbox] {
	display: none;
}

.switch {
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	outline: 0;
	padding: 2px;
	position: relative;
	transition: box-shadow .4s ease, box-shadow 0s, background .4s ease, box-shadow 0s;
	vertical-align: middle;
	width: 36px;

	&::before,
	&::after {
		content: '';
		display: block;
		height: 16px;
		position: relative;
		width: 16px;
	}

	&::after {
		background: $white;
		border-radius: 2px;
		left: 0;
		transition: left .2s ease;
	}

	&::before {
		display: none;
	}

	.accessible-focus &:focus {
		box-shadow: 0 0 0 2px $blue-medium;
	}
}

.label {
	cursor: pointer;

	.is-disabled & {
		cursor: default;
	}
}

.form-toggle {
	.accessible-focus &:focus {
		+ .label .switch {
			box-shadow: 0 0 0 2px $blue-medium;
		}

		&:checked + .label .switch {
			box-shadow: 0 0 0 2px $blue-light;
		}
	}

	& + .label .switch {
		background: $gray;
	}

	&:not([disabled]) {
		+ .label .switch:hover {
			background: lighten( $gray, 10% );
		}
	}

	&:checked {
		+ .label .switch {
			background: $blue;

			&::after {
				left: 16px;
			}
		}
	}

	&:checked:not([disabled]) {
		+ .label .switch:hover {
			background: lighten( $blue, 10% );
		}
	}

	&:disabled {
		+ label.label span.switch {
			cursor: default;
			opacity: 0.25;
		}
	}

	&:focus {
		+ .label .switch {
			box-shadow: 0 0 0 2px $blue-medium;
		}
	}
}

// Classes for toggle state before action is complete (updating plugin or something)
.form-toggle.is-toggling {
	+ .label .switch {
		background: $blue-medium;
	}

	&:checked {
		+ .label .switch {
			background: lighten( $gray, 20% );
		}
	}
}

.form-toggle.is-compact {
	+ .label .switch {
		border-radius: 8px;
		height: 16px;
		width: 24px;

		&::before,
		&::after {
			height: 12px;
			width: 12px;
		}
	}

	&:checked {
		+ .label .switch {
			&::after {
				left: 8px;
			}
		}
	}
}
