@import 'app/styles/colors';

.form {
	background-color: #fff;
	border: 1px solid $gray-light;
	border-radius: 5px;
	box-sizing: border-box;
	color: $gray;
	margin: -40px auto 25px;
	padding: 30px;
	width: 400px;

	h3 {
		color: $blue-dark;
		font-size: 2rem;
	}

	hr {
		background-color: $blue-bright;
		border: 0;
		height: 2px;
		margin: 10px 0;
		width: 25%;
	}
}
