@import 'app/styles/colors';
@import 'app/styles/breakpoints';

.form {
	background-color: #fff;
	border: 1px solid $gray-light;
	border-radius: 3px;
	box-sizing: border-box;
	margin: -40px auto 0;
	max-width: 440px;
	padding: 30px;

	@include breakpoint( '<480px' ) {
		margin-left: 20px;
		margin-right: 20px;
		padding: 15px;
	}

	h3 {
		color: $blue-dark;
		font-size: 2rem;
		word-wrap: break-word;
	}

	hr {
		background-color: $blue-bright;
		border: 0;
		height: 2px;
		margin: 10px 0;
		width: 25%;
	}
}
