@import 'app/styles/colors';

.notices {
	left: 1em;
	position: fixed;
	right: 1em;
	top: 1em;
}

.notice {
	background: $blue;
	color: #fff;
	font-size: 1.4em;
	margin-bottom: 1em;
	padding: 1em;
}

.error {
	background: $red;
}

.success {
	background: $green;
}

.remove {
	cursor: pointer;
	position: absolute;
	right: 1em;
}
