@import 'app/styles/colors';
@import 'app/styles/breakpoints';

.notice {
	animation-duration: 0.3s;
	animation-name: animSlideTop;
	animation-timing-function: cubic-bezier( 0.7, 0, 0.3, 1.2 );
	background: rgba( $alert-red, 0.9 );
	box-shadow: inset 52px 0 rgba( $black, 0.2 );
	box-sizing: border-box;
	color: $white;
	font-size: 1.6rem;
	left: 0;
	padding: 20px 40px 20px 62px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;

	&.error {
		background: rgba( $alert-red, 0.9 );
	}

	&.success {
		background: rgba( $alert-green, 0.9 );
	}

	.notice-icon {
		animation-delay: 0.2s;
		animation-duration: 0.2s;
		animation-fill-mode: both;
		animation-name: animScaleUp;
		display: block;
		fill: $white;
		left: 10px;
		position: absolute;
		top: calc( 50% - 16px );
	}

	@include breakpoint( '<480px' ) {
		font-size: 1.4rem;
	}
}

.remove {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: calc( 50% - 12px );
	transition: background 0.3s;

	.gridicon {
		fill: $white;
	}

	&:hover,
	&:focus {
		background: rgba( $white, 0.2 );
		outline: none;
	}

	@include breakpoint( '<480px' ) {
		right: 10px;
	}
}

@keyframes animScaleUp {
	0% {
		opacity: 0;
		transform: scale3d( 0, 0, 1 );
	}

	100% {
		opacity: 1;
		transform: scale3d( 1, 1, 1 );
	}
}

@keyframes animSlideTop {
	0% {
		transform: translate3d( 0, -100%, 0 );
	}

	100% {
		transform: translate3d( 0, 0, 0 );
	}
}
