@import 'app/styles/colors';

.textarea {
	border: solid 1px $gray-medium;
	border-radius: 3px;
	height: 150px;
	margin: 0 0 20px;
	padding: 0;
	resize: none;
	width: 100%;
}

.form .button { // two classes necessary to override the font-weight
	font-weight: 200;
	margin-bottom: 15px;
	width: 100%;
}

.file-input {
	position: fixed;
	top: -10000px; // hide the native file input
}

.file-input-label {
	cursor: default;
	display: inline-block;
	left: 50%;
	margin-left: -100px;
	margin-top: 50px;
	padding: 10px 0;
	pointer-events: none;
	position: absolute;
	width: 200px;
}

.upload-link {
	color: $blue-medium;
	cursor: pointer;
	pointer-events: auto;
	text-decoration: underline;
}

.explanation-container .explanation {
	color: lighten( $gray, 15% );
	font-size: 1.4rem;
	margin-bottom: 15px;
	text-align: left;
}
