@import 'app/styles/colors';

.tag {
	background: $blue;
	border-radius: 3px;
	color: $white;
	display: inline-block;
	font-size: 1.2rem;
	padding: 3px 5px;

	&.is-warning {
		background: $alert-yellow;
		color: $black;
	}

	&.is-error {
		background: $alert-red;
	}
}
