@import 'app/styles/colors';

.tag {
	border-radius: 3px;
	color: $white;
	display: inline-block;
	font-size: 1.2rem;
	padding: 3px 5px;
}

.is-premium {
	background-color: $blue;
}

.is-trademark {
	background-color: $alert-yellow;
}
