@import 'app/styles/breakpoints';

.domain-card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1200px;

	&::after {
		content: '';
		flex: 0 1 32%;
	}
}
