@import 'app/styles/colors';
@import 'app/styles/breakpoints';
@import 'app/styles/fonts';

.field-area {
	background: $white;
	border-radius: 3px 3px 0 0;
	padding: 30px;

	@include breakpoint( '<480px' ) {
		padding: 0 0 15px;
	}

	fieldset {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	label {
		color: $blue-dark;
		display: block;
		font-size: 1.6rem;
		margin-bottom: 5px;
	}

	input:not([type=radio]),
	select,
	textarea {
		appearance: none;
		border: 1px solid $gray-medium;
		border-radius: 0;
		box-shadow: none;
		box-sizing: border-box;
		display: block;
		font-family: $body-font;
		font-size: 1.6rem;
		margin: 0;
		padding: 10px 12px;
		transition: border-color 0.2s, box-shadow 0.2s;
		width: 100%;

		&::placeholder {
			color: darken( $gray-medium, 10% );
		}

		&:disabled {
			background: $gray-xlight;
			color: darken( $gray-medium, 10% );
			cursor: not-allowed;

			&::placeholder {
				color: darken( $gray-medium, 10% );
			}
		}

		&:focus {
			border-color: $green;
			box-shadow: inset 0 0 0 2px $green-light;
			outline: none;
		}
	}

	select {
		padding-bottom: 11px;
	}

	p {
		font-size: 1.8rem;
		font-weight: 700;
		line-height: 1.3;

		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	h3 {
		color: $blue-dark;
		font-size: 2rem;
		font-weight: 700;
	}
}
