@import 'app/styles/colors';
@import 'app/styles/breakpoints';
@import 'app/styles/fonts';
@import 'app/styles/assets';

.container {
	margin-top: 50px;
}

.heading {
	background: url( #{$image-assets-url}ui-illustrations/lets-get-started.svg ) no-repeat center top;
	background-size: auto 150px;
	color: $blue-dark;
	font: 400 2.6rem $body-font;
	padding-top: 160px;
	text-align: center;

	@include breakpoint( '>480px' ) {
		font-size: 2.4rem;
	}
}
