@import 'app/styles/colors';
@import 'app/styles/breakpoints';
@import 'app/styles/fonts';

.container {
	text-align: center;

	img {
		margin-bottom: 50px;
		margin-top: 50px;
	}
}

.heading {
	color: $gray;
	font: 300 3.4rem $heading-font;

	@include breakpoint( '<480px' ) {
		font-size: 2.6rem;
	}
}
