@import 'app/styles/colors';
@import 'app/styles/breakpoints';
@import 'app/styles/fonts';

.container {
	background-color: $blue-background;
	margin: 0;
	min-height: 73vh;
	text-align: center;

	@include breakpoint( '>480px' ) {
		min-height: 82vh;
	}

	img {
		margin: 50px auto;
	}
}

.heading {
	font: 300 3.4rem $heading-font;
	padding: 0 20px 50px;

	@include breakpoint( '<480px' ) {
		font-size: 2.6rem;
	}
}
