@import 'app/styles/fonts';
@import 'app/styles/colors';
@import 'app/styles/breakpoints';

h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-font-smoothing: antialiased;
	color: $white;
}

.layout {
	display: flex;
	flex-direction: column;
	font-family: $body-font;
	min-height: 100vh;
}

.content {
	flex-grow: 1;
}

a {
	color: $blue;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: lighten( $blue, 10% );
	}
}
