@import 'app/styles/fonts';
@import 'app/styles/colors';
@import 'app/styles/breakpoints';

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $white;
	font-weight: 400;
}

.layout {
	display: flex;
	flex-direction: column;
	font-family: $body-font;
	font-weight: 400;
	min-height: 100vh;
}

.content {
	flex-grow: 1;
}

a {
	color: $blue;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: lighten( $blue, 10% );
	}
}

:global {
	/* rtl:ignore */
	._price-with-currency-code {
		direction: ltr;
		unicode-bidi: embed;
	}
}
