@import 'app/styles/colors';

.pulsing-dot {
	animation: dot-pulse 1.25s infinite cubic-bezier( 0.66, 0, 0, 1 );
	animation-play-state: paused;
	background: $gray-light;
	border: 0;
	border-radius: 100%;
	box-shadow: 0 0 0 0 rgba( 168, 190, 206, 0.7 );
	display: none;
	height: 6px;
	left: 50%;
	margin-left: -20px 0 0 -20px;
	position: absolute;
	top: 63px;
	transform: translate3d( 0, 0, 0 );
	vertical-align: middle;
	width: 6px;

	&.is-visible {
		animation-play-state: running;
		display: block;
	}
}

@keyframes dot-pulse {
	to {
		box-shadow: 0 0 0 15px rgba( 90, 153, 220, 0 );
	}
}
