@import 'app/styles/breakpoints';
@import 'app/styles/colors';
@import 'app/styles/assets';

.domain-card {
	background: $white;
	border: 1px solid $gray-light;
	border-top: 0;
	box-shadow: 0 -3px $blue;
	box-sizing: border-box;
	display: flex;
	flex-basis: 32%;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 20px;
	min-height: 250px;
	overflow: hidden;
	position: relative;
	width: 100%;

	h3 {
		color: $blue-dark;
		font-size: 1.8rem;
		font-weight: 700;
		margin: 0 0 0 15px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	@include breakpoint( '<1040px' ) {
		flex-basis: 49%;
	}

	@include breakpoint( '<660px' ) {
		flex-basis: 100%;

		h3 {
			font-size: 1.6rem;
		}
	}

	@include breakpoint( '<480px' ) {
		min-height: 0;
	}
}

.domain-heading {
	align-items: center;
	border-bottom: 1px solid $gray-light;
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	min-height: 48px;
	padding: 0 5px;

	& > a {
		flex-shrink: 0;
		padding: 8px 20px;
	}
}

.domain-details {
	flex-basis: 100%;
	flex-direction: column;
	flex-grow: 1;
	font-size: 1.8rem;
	padding: 20px;

	p {
		margin-bottom: 0.8em;
	}
}

.domain-card-footer {
	align-items: center;
	align-self: flex-end;
	border-top: 1px solid $gray-light;
	box-sizing: border-box;
	display: flex;
	flex-shrink: 0;
	flex-wrap: wrap;
	font-size: 1.4rem;
	justify-content: space-between;
	padding: 5px 20px;
	width: 100%;

	a {
		display: inline-block;
		padding: 5px 0;
	}

	@include breakpoint( '<480px' ) {
		align-items: flex-start;
		flex-direction: column;
		justify-content: flex-start;

		a {
			padding: 10px 0;
		}
	}
}

.domain-setup {
	box-sizing: border-box;
}

.not-connected {
	box-shadow: 0 -3px $alert-yellow;

	.domain-details {
		align-items: center;
		background: url( #{$image-assets-url}ui-illustrations/domain-notsetup.svg ) no-repeat center 25px;
		background-size: 50px;
		color: $gray-dark;
		display: flex;
		justify-content: center;
		text-align: center;

		@include breakpoint( '<480px' ) {
			background-position: center 25px;
			font-size: 1.6rem;
			padding-top: 80px;
		}
	}
}

.connected-auto .domain-details {
	background: url( #{$image-assets-url}ui-illustrations/domain-active.svg ) no-repeat right top;
	background-origin: content-box;
	background-size: 100px auto;

	@include breakpoint( '<480px' ) {
		background-size: 75px auto;
	}

	p {
		padding-right: 120px;
		position: relative;

		@include breakpoint( '<480px' ) {
			padding-right: 90px;
		}

		&::after {
			content: '';
			display: block;
			height: 40px;
			position: absolute;
			right: 30px;
			top: 30px;
			width: 40px;

			@include breakpoint( '<480px' ) {
				height: 30px;
				right: 22px;
				top: 22px;
				width: 30px;
			}
		}
	}
}

.connected-auto .domain-card-footer {
	justify-content: flex-end;
}

.connected-concierge {
	.domain-details {
		background: url( #{$image-assets-url}ui-illustrations/domain-concierge.svg ) no-repeat right top;
		background-origin: content-box;
		background-size: 90px;

		p {
			padding-right: 120px;

			@include breakpoint( '<480px' ) {
				padding-right: 90px;
			}
		}

		.small-text {
			font-size: 1.6rem;
		}

		@include breakpoint( '<480px' ) {
			background-size: 70px auto;
		}
	}
}

.connected-nameservers {
	.domain-details {
		background: url( #{$image-assets-url}ui-illustrations/nameservers.svg ) no-repeat right top;
		background-origin: content-box;
		background-size: 110px auto;
		min-height: 55px;

		@include breakpoint( '<480px' ) {
			background-size: 75px auto;
		}

		p {
			padding-right: 120px;

			@include breakpoint( '<480px' ) {
				padding-right: 90px;
			}
		}
	}
}

.reset-settings {
	&:hover {
		color: $alert-red;
	}

	@include breakpoint( '<480px' ) {
		margin-left: 0;
	}
}

.custom-nameservers-container {
	border-top: solid 1px $gray-light;
	font-size: 1.4rem;
	margin: 0 0 10px;
	padding: 10px 0 0;
	text-align: center;
}

.domain-card-pending {
	box-shadow: 0 -3px $alert-red;
}

.trademark-tag {
	background-color: $gray-light;
	color: $gray-dark;
	margin-left: 8px;
}
