@import 'app/styles/breakpoints';
@import 'app/styles/colors';
@import 'app/styles/assets';

.domain-card {
	background: $white;
	border: 1px solid $gray-light;
	border-top: 0;
	box-shadow: 0 -3px $blue;
	box-sizing: border-box;
	display: flex;
	flex-basis: 32%;
	flex-direction: column;
	margin-bottom: 20px;
	min-height: 250px;
	overflow: hidden;
	position: relative;
	width: 100%;

	h3 {
		color: $blue-dark;
		font-size: 1.8rem;
		font-weight: 700;
		margin: 0 0 0 15px;
	}

	@include breakpoint( '<1040px' ) {
		flex-basis: 49%;
	}

	@include breakpoint( '<660px' ) {
		flex-basis: 100%;

		h3 {
			font-size: 1.6rem;
		}
	}
}

.domain-heading {
	align-items: center;
	border-bottom: 1px solid $gray-light;
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	min-height: 48px;
	padding: 0 5px;

	& > a {
		padding: 8px 20px;
	}
}

.domain-details {
	display: flex;
	flex-direction: column;
	font-size: 1.8rem;
	height: 100%;
	padding: 20px 20px 0;

	p {
		margin-bottom: 0.8em;
	}
}

.domain-card-footer {
	align-items: center;
	align-self: flex-end;
	border-top: 1px solid $gray-light;
	box-sizing: border-box;
	display: flex;
	font-size: 1.4rem;
	justify-content: space-between;
	line-height: 2;
	padding: 5px 20px;
	width: 100%;
}

.domain-setup {
	box-sizing: border-box;
}

.not-connected {
	box-shadow: 0 -3px $alert-yellow;

	.domain-details {
		align-items: center;
		background: url( #{$image-assets-url}mydomains-notsetup.svg ) no-repeat center calc( 50% - 40px );
		color: $gray;
		justify-content: center;
		text-align: center;

		@include breakpoint( '<480px' ) {
			font-size: 1.6rem;
		}
	}
}

.connected-concierge {
	.domain-details {
		background: url( #{$image-assets-url}mydomains-concierge.svg ) no-repeat right 15px;
		padding-right: 130px;

		.small-text {
			font-size: 1.6rem;
		}
	}
}

.nameservers {
	background: $gray-xlight;
	font-size: 1.6rem;
	padding: 15px;
}

.nameservers-loading {
	background: url( /images/mydomains-servers.svg ) no-repeat center top;
	background-size: 97px 45px;
	padding-top: 60px;
	position: relative;
	text-align: center;

	&::after {
		animation: spin 1s infinite ease-in-out;
		background: url( /images/mydomains-servers-gear.svg ) no-repeat;
		background-size: 35px;
		content: '';
		display: block;
		height: 35px;
		left: calc( 50% + 30px );
		position: absolute;
		top: 18px;
		width: 35px;
	}
}

@keyframes spin {
	0% {
		transform: rotate( 0 );
	}

	100% {
		transform: rotate( 180deg );
	}
}

.nameservers-list {
	display: none;
}

.reset-settings {
	margin-left: auto;

	&:hover {
		color: $alert-red;
	}
}
