@import 'app/styles/breakpoints';
@import 'app/styles/colors';
@import 'app/styles/assets';

.domain-card {
	background: $white;
	border: 1px solid $gray-light;
	border-top: 0;
	box-shadow: 0 -3px $blue;
	box-sizing: border-box;
	display: flex;
	flex-basis: 32%;
	flex-direction: column;
	margin-bottom: 20px;
	min-height: 250px;
	overflow: hidden;
	position: relative;
	width: 100%;

	h3 {
		color: $blue-dark;
		font-size: 1.8rem;
		font-weight: 700;
		margin: 0 0 0 15px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	@include breakpoint( '<1040px' ) {
		flex-basis: 49%;
	}

	@include breakpoint( '<660px' ) {
		flex-basis: 100%;

		h3 {
			font-size: 1.6rem;
		}
	}

	@include breakpoint( '<480px' ) {
		min-height: 0;
	}
}

.domain-heading {
	align-items: center;
	border-bottom: 1px solid $gray-light;
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	min-height: 48px;
	padding: 0 5px;

	& > a {
		flex-shrink: 0;
		padding: 8px 20px;
	}
}

.domain-details {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	font-size: 1.8rem;
	padding: 20px;

	p {
		margin-bottom: 0.8em;
	}
}

.domain-card-footer {
	align-items: center;
	align-self: flex-end;
	border-top: 1px solid $gray-light;
	box-sizing: border-box;
	display: flex;
	flex-shrink: 0;
	flex-wrap: wrap;
	font-size: 1.4rem;
	justify-content: space-between;
	padding: 5px 20px;
	width: 100%;

	a {
		display: inline-block;
		padding: 5px 0;
	}

	@include breakpoint( '<480px' ) {
		align-items: flex-start;
		flex-direction: column;
		justify-content: flex-start;

		a {
			padding: 10px 0;
		}
	}
}

.domain-setup {
	box-sizing: border-box;
}

.not-connected {
	box-shadow: 0 -3px $alert-yellow;

	.domain-details {
		align-items: center;
		background: url( #{$image-assets-url}mydomains-notsetup.svg ) no-repeat center calc( 50% - 50px );
		color: $gray;
		justify-content: center;
		text-align: center;

		@include breakpoint( '<480px' ) {
			background-position: center 15px;
			font-size: 1.6rem;
			justify-content: flex-start;
			padding-top: 70px;
		}
	}
}

.connected-auto .domain-details {
	background: url( #{$image-assets-url}mydomains-browser.svg ) no-repeat right top;
	background-origin: content-box;

	@include breakpoint( '<480px' ) {
		background-size: 75px auto;
	}

	p {
		padding-right: 120px;
		position: relative;

		@include breakpoint( '<480px' ) {
			padding-right: 90px;
		}

		&::after {
			content: '';
			display: block;
			height: 40px;
			position: absolute;
			right: 30px;
			top: 30px;
			width: 40px;

			@include breakpoint( '<480px' ) {
				height: 30px;
				right: 22px;
				top: 22px;
				width: 30px;
			}
		}
	}
}

.connected-auto .domain-card-footer {
	justify-content: flex-end;
}

.domain-setup-wpcom::after {
	background: url( #{$image-assets-url}hosts/wordpress-blue.svg ) no-repeat center;
	background-size: contain;
}

.domain-setup-pressable::after {
	background: url( #{$image-assets-url}hosts/pressable-color.svg ) no-repeat center;
	background-size: contain;
}

.connected-concierge {
	.domain-details {
		background: url( #{$image-assets-url}mydomains-concierge.svg ) no-repeat right 15px;
		padding-right: 130px;

		.small-text {
			font-size: 1.6rem;
		}

		@include breakpoint( '<480px' ) {
			background-size: 90px auto;
			padding-right: 100px;
		}
	}
}

.nameservers {
	background: $gray-xlight;
	font-size: 1.6rem;
	padding: 15px;
}

.nameservers-loading {
	background: url( #{$image-assets-url}mydomains-servers.svg ) no-repeat center top;
	background-size: 97px 45px;
	padding-top: 60px;
	position: relative;
	text-align: center;

	&::after {
		animation: spin 1s infinite ease-in-out;
		background: url( #{$image-assets-url}mydomains-servers-gear.svg ) no-repeat;
		background-size: 35px;
		content: '';
		display: block;
		height: 35px;
		left: calc( 50% + 30px );
		position: absolute;
		top: 18px;
		width: 35px;
	}
}

@keyframes spin {
	0% {
		transform: rotate( 0 );
	}

	100% {
		transform: rotate( 180deg );
	}
}

.nameservers-list {
	display: none;
}

.reset-settings {
	&:hover {
		color: $alert-red;
	}

	@include breakpoint( '<480px' ) {
		margin-left: 0;
	}
}
