@import 'app/styles/breakpoints';

.domain-card {
	box-sizing: border-box;
	cursor: pointer;
	flex-basis: 32%;
	margin-bottom: 20px;
	min-height: 200px;
	position: relative;
	width: 100%;

	h3 {
		bottom: 0;
		color: #fff;
		font-size: 2.2rem;
		left: 0;
		margin: 0;
		padding: 10px 20px;
		position: absolute;
		z-index: 3;
	}

	@include breakpoint( '<1040px' ) {
		flex-basis: 49%;
	}

	@include breakpoint( '<660px' ) {
		flex-basis: 100%;

		h3 {
			font-size: 2rem;
		}
	}
}

.not-connected {
	align-items: center;
	background: #f3f6f8;
	cursor: auto;
	display: flex;
	justify-content: center;
	text-align: center;

	h3 {
		color: #87a6bc;
		margin: -10px 0 10px;
		position: static;
	}

	button {
		background: #00aadc;
		border: 0;
		border-bottom: 2px solid #0087be;
		border-radius: 4px;
		color: #fff;
		display: inline-block;
		font-size: 16px;
		margin: auto;
		padding: 18px 40px;

		&:hover,
		&:focus,
		&:visited {
			color: #fff;
			text-decoration: none;
		}

		&:visited {
			color: #0d72b2;
		}
	}
}

.domain-screenshot {
	position: relative;
	z-index: 1;

	img {
		border: 0;
		display: block;
		vertical-align: middle;
		width: 100%;
	}

	&::after {
		background: #2e4453;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		opacity: 0.5;
		position: absolute;
		top: 0;
		transition: opacity 0.35s;
		width: 100%;
		z-index: 2;
	}
}

.domain-screenshot:hover {
	&::after {
		opacity: 0.6;
	}
}

.domain-details {
	color: #fff;
	font-size: 1.4rem;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scale(0.7);
	transition: height 0.35s;
	width: 100%;
}

.domain-connected {
	display: none;
	opacity: 0;
	padding: 10px 0 20px;
	transition: opacity 0.35s;
	transition-delay: 0.25s;

	.icon {
		align-items: center;
		display: flex;

		svg {
			background: #87a6bc;
			box-sizing: border-box;
			fill: #fff;
			flex-shrink: 0;
			height: 68px;
			margin-right: 10px;
			padding: 10px 20px;
			width: 88px;
		}
	}

	.site-name {
		color: #87a6bc;
		font-style: italic;
	}

	.disconnect {
		background: #d94f4f;
		color: #fff;
		display: inline-block;
		font-size: 0.8em;
		margin-top: 10px;
		padding: 2px 5px 4px;
	}
}

.show-details {
	z-index: 100;

	.domain-details {
		background: #2e4453;
		height: calc(100% + 99px);
		transform: scale(1);

		.domain-connected {
			display: block;
			margin-top: 212px;
			opacity: 1;

			@include breakpoint( '<1040px' ) {
				margin-top: 242px;
			}

			@include breakpoint( '<660px' ) {
				margin-top: 292px;
			}
		}
	}

	.domain-screenshot {
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
		transform: scale(0.85) translateY(-40px);

		&::after {
			opacity: 0;
		}
	}
}

.domain-setup {
	box-sizing: border-box;
}
