@import 'app/styles/colors';

.label {
	border: solid 1px $gray-light;
	border-radius: 3px;
	cursor: pointer;
	display: block;
	font-size: 1.8rem;
	font-weight: bold;
	margin: 10px 0;
	padding: 10px;

	&:hover {
		background: $gray-light;
	}
}

.label-description {
	font-size: 1.6rem;
	font-weight: 200;
	margin-top: 1rem;
}

.radio {
	margin-right: 10px;
	vertical-align: bottom;
}
