@import 'app/styles/breakpoints';

.footer {
	display: flex;
	flex-direction: column-reverse;

	@include breakpoint( '<480px' ) {
		margin: 0 15px;
		padding-top: 10px;
	}

	@include breakpoint( '>480px' ) {
		flex-direction: row;
		justify-content: space-between;
		margin: 0 30px 0 20px;
	}
}