@import 'app/styles/breakpoints';
@import 'app/styles/colors';

.footer {
	display: flex;

	@include breakpoint( '<660px' ) {
		border-top: 1px solid $gray-light;
		flex-direction: column-reverse;
		margin: 15px;
		padding-top: 15px;
	}

	@include breakpoint( '>660px' ) {
		flex-direction: row;
		justify-content: space-between;
		margin: 20px 30px 10px 20px;
	}
}
