@import 'app/styles/breakpoints';
@import 'app/styles/colors';

.footer {
	display: flex;
	flex-direction: column-reverse;

	@include breakpoint( '<660px' ) {
		margin: 15px 15px 30px;
		padding-top: 8px;

		&.has-border {
			border-top: 1px solid $gray-dark;
		}
	}

	@include breakpoint( '>660px' ) {
		flex-direction: row;
		justify-content: space-between;
		margin: 0 30px 0 20px;
	}
}
