@import 'app/styles/colors.scss';
@import 'app/styles/fonts.scss';

.address {
	text-align: center;
}

.header {
	font-family: $heading-font;
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.sub-header {
	color: $blue;
	font-size: 2.1rem;
	margin-bottom: 25px;
}

.form {
	background: $light-blue;
	margin: 0 auto;
	padding: 20px;
	text-align: left;
	width: 320px;
}

.address-one,
.address-two,
.city,
.countryCode,
.fax,
.name,
.organization,
.phone,
.state,
.postal-code {
	border: solid 1px $border-blue;
	border-radius: 2px;
	box-sizing: border-box;
	font-size: 1.5rem;
	margin: 0 0 10px 0;
	padding: 10px 12px;
	width: 100%;

	&:disabled {
		background: darken( $white, 2% );
	}
}

.row {
	.city, .state, .zip {
		display: inline-block;
	}

	.city {
		width: 150px;
	}

	.state {
		margin-left: 10px;
		width: 70px;
	}

	.postal-code {
		margin-left: 10px;
		width: 80px;
	}
}

.label {
	display: block;
	font-size: 1.3rem;
	margin: 0 0 5px 0;
}

.fieldset {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

.progress {
	max-width: 400px;
	margin: 20px auto;
}
