@import 'app/styles/breakpoints';
@import 'app/styles/colors';

.footer {
	border-top: 1px solid $gray-light;
	color: $gray-dark;
	padding: 20px 30px;

	@include breakpoint( '<480px' ) {
		padding: 0 0 15px;
	}
}
