@import 'app/styles/colors';
@import 'app/styles/breakpoints';

%header {
	align-items: center;
	background: $blue-dark;
	display: flex;
	justify-content: space-between;
}

.header {
	@extend %header;
}

.search-header {
	@extend %header;

	height: 83px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.logo {
	flex-basis: 100%;
	padding: 15px;
	text-align: center;

	img {
		width: 70px;
	}

	@include breakpoint( '>480px' ) {
		padding: 20px;

		img {
			width: auto;
		}
	}
}
