%header {
	align-items: center;
	background: url( 'http://s.wordpress.com/i/delphin/background.png' ) center top #87a6bc;
	box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.3) inset;
	display: flex;
	justify-content: space-between;
}

.header {
	@extend %header;
}

.search-header-wrapper {
	height: 83px;
}

.search-header {
	@extend %header;

	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.title {
	color: #fff;
	flex-basis: 100%;
	font-size: 2rem;
	padding: 30px;
	text-align: center;
	text-decoration: none;
}
