@import 'app/components/ui/set-up-domain/styles';

.content-container {
	background-color: $white;
	border: 1px solid $gray-light;
	border-radius: 0 0 3px 3px;
	border-top: 0;
	box-shadow: 0 -3px $blue;
	box-sizing: border-box;
	color: $blue-dark;
	display: block;
	font-size: 1.4rem;
	margin: -40px auto 25px;
	max-width: 440px;
	padding: 30px;

	@include breakpoint( '<480px' ) {
		border: 0;
		border-radius: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		padding: 30px 20px 0;
	}

	input,
	button {
		font-family: inherit;
	}
}

.status-container {
	margin: 30px auto;
	padding: 20px;
}

.status-message {
	font-size: 1.8rem;
	font-weight: 400;
	text-align: center;
}

.satellite {
	display: block;
	fill: transparent;
	margin: 0 auto 20px;
	stroke: $blue-dark;
	stroke-linecap: round;
	stroke-width: 2;
}

.satellite-dish {
	fill: $gray-medium;
}

.satellite-point {
	animation: pulse 1s ease-in-out infinite;
	fill: $blue-dark;
}

.signal-1,
.signal-2,
.signal-3 {
	animation: showhide 1s ease-in-out infinite;
	stroke: $green;
}

.signal-2 {
	animation-delay: 0.1s;
}

.signal-3 {
	animation-delay: 0.2s;
}

@keyframes showhide {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	40% {
		opacity: 1;
	}

	60% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes pulse {
	0% {
		fill: $blue-dark;
	}

	50% {
		fill: $blue;
		stroke: $blue;
	}

	100% {
		fill: $blue-dark;
	}
}
