@import 'app/styles/colors';
@import 'app/styles/fonts';
@import 'app/styles/breakpoints';

.heading {
	font-family: $heading-font;
	font-size: 3rem;
	margin-top: 40px;

	@include breakpoint( '<480px' ) {
		font-size: 2.6rem;
		margin-top: 0;
	}
}

.text {
	color: $gray-dark;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.4;
	margin-top: 10px;

	@include breakpoint( '<480px' ) {
		font-size: 1.8rem;
	}
}

.form-container {
	background-color: lighten( $blue-dark, 5% );
	border-top: 1px solid lighten( $blue-dark, 10% );
	padding: 30px 0;

	@include breakpoint( '<660px' ) {
		padding: 15px 0;
	}
}

.form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 900px;
	padding: 0 15px;

	@include breakpoint( '<660px' ) {
		flex-direction: column;
	}
}

.input-container {
	flex-grow: 3;
	margin: 5px;
	vertical-align: bottom;
}

.button-container {
	flex-grow: 1;
	margin: 5px;

	& > button {
		height: 100%;
		width: 100%;
	}
}

.input {
	border: 0;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 1.6rem;
	padding: 20px 16px;
	width: 100%;
}

.content {
	color: $blue-dark;
	line-height: 1.4;
	margin: 30px auto 70px;
	max-width: 1200px;
	padding: 0 20px;
	text-align: center;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $blue-dark;
	}

	h2 {
		font-size: 2.5rem;
		font-weight: 400;
		margin-top: 30px;
		padding: 20px 0;
	}
}

.three-boxes {
	color: $blue-dark;
	display: flex;

	@include breakpoint( '<960px' ) {
		flex-direction: column;
		margin-top: 40px;
	}

	& > div {
		border: 2px solid $gray-light;
		border-radius: 3px;
		flex-basis: 10px;
		flex-grow: 1;
		margin: 10px;
		max-width: 400px;
		padding: 30px 20px;
		text-align: left;

		@include breakpoint( '<960px' ) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.box-title {
		color: $blue-dark;
		font-size: 1.8rem;
		font-weight: 600;
		text-align: center;
	}

	.box-title-notice {
		color: $gray;
		font-size: 1.6rem;
		font-style: italic;
		font-weight: 400;
		text-align: center;
	}

	.box-content {
		font-size: 1.6rem;
		margin-top: 20px;
	}
}
