@import 'app/styles/colors';
@import 'app/styles/breakpoints';

.button {
	-webkit-font-smoothing: antialiased;
	background: $green;
	border: 0;
	border-bottom: 2px solid darken($green, 5%);
	border-radius: 3px;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 700;
	padding: 18px 30px;
	text-align: center;
	text-transform: none;
	transition: opacity 0.3s, background-color 0.3s;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.3;
	}

	&:hover {
		background: $green-dark;
		color: $white;
	}

	@include breakpoint( '<480px' ) {
		font-size: 1.4rem;
	}
}
