@import 'app/styles/colors';
@import 'app/components/ui/set-up-domain/headers';

.header-container {
	background-color: $gray-xlight;
}

.domain-setup {
	font-size: 1.4rem;
	font-weight: 300;

	p {
		word-wrap: break-word;
	}
}

.set-up-label {
	font-weight: 400;
}

.form-footer {
	font-weight: bold;
	margin-bottom: 5px;
	text-align: left;
}

.footer {
	color: $gray;
	line-height: 1.4;
	margin: 0 auto 70px;
	max-width: 400px;
	padding: 0 20px;
	text-align: center;
}
