@import 'app/styles/colors';

.pre-label {
	color: $gray-dark;
	display: block;
	margin-top: 20px;
}

.label {
	border: solid 1px $gray-light;
	border-radius: 3px;
	cursor: pointer;
	font-weight: bold;
	margin: 10px 0;
	position: relative;
	transition: border 0.15s;

	p.label-description {
		font-size: 1.6rem;
		font-weight: 300;
		margin-top: 0;
		padding: 0 20px 20px;
	}

	&:hover {
		border-color: $gray-medium;
	}
}

.label-host {
	background: transparent no-repeat 20px center;
	background-size: 36px auto;
	color: $blue-dark;
	font-size: 1.8rem;
	line-height: 56px;
	padding-left: 20px;
}

.radio {
	border-radius: 3px;
	cursor: pointer;
	height: calc( 100% + 2px );
	left: -1px;
	margin: 0;
	opacity: 0;
	position: absolute;
	top: -1px;
	transition: border 0.2s, box-shadow 0.2s, opacity 0.2s;
	width: calc( 100% + 2px );

	&::after {
		display: none;
	}

	&:checked {
		border: 1px solid $green;
		box-shadow: inset 0 0 0 2px $green-light;
		opacity: 1;
	}
}
