@import 'app/styles/assets';
@import 'app/styles/colors';
@import 'app/styles/fonts';
@import 'app/styles/breakpoints';

.home-container {
	display: flex;
	flex-direction: column;
	height: 70vh;
	justify-content: center;
	min-height: 435px;

	@include breakpoint( '>660px' ) {
		height: 80vh;
	}
}

.form {
	padding: 0 20px;
	text-align: center;
}

.whats-your-story {
	border-bottom: 2px solid $blue-dark;
	height: 39vh;
	min-height: 235px;
	position: relative;
	width: 100%;

	@include breakpoint( '>480px' ) {
		height: 36vh;
		max-height: 300px;
	}

	@include breakpoint( '>660px' ) {
		height: 42vh;
		max-height: 400px;
	}

	@include breakpoint( '>960px' ) {
		height: 46vh;
		max-height: 450px;
	}

	&::before,
	&::after {
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		width: 100%;
	}

	&::before {
		background: url( #{$image-assets-url}homepage-scene-rope.svg ) no-repeat center top;
		display: none;
		top: 0;

		@include breakpoint( '>480px' ) {
			display: block;
		}
	}

	&::after {
		background: url( #{$image-assets-url}homepage-scene-480.svg ) no-repeat center bottom;
		background-size: 170% auto;
		bottom: 0;

		@include breakpoint( '>480px' ) {
			background: url( #{$image-assets-url}homepage-scene.svg ) no-repeat center bottom;
			background-size: auto;
		}
	}
}

.heading {
	color: $blue-dark;
	font: 700 2.6rem $heading-font;
	margin-bottom: 10px;

	.emphasis {
		color: $blue;
	}

	@include breakpoint( '>480px' ) {
		font-size: 3.2rem;
	}
	@include breakpoint( '>660px' ) {
		font-size: 4rem;
	}
}

h3.heading {
	font: 700 2rem $heading-font;

	@include breakpoint( '>480px' ) {
		font-size: 2.6rem;
	}
	@include breakpoint( '>660px' ) {
		font-size: 3.2rem;
	}
}

.domain-search {
	align-items: flex-start;
	display: flex;
	font-size: 1.4rem;
	margin: 30px auto 0;
	max-width: 850px;
	position: relative;

	@include breakpoint( '<480px' ) {
		flex-direction: column;
		margin-top: 25px;
	}

	.button {
		border-radius: 0 3px 3px 0;
		height: 100%;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		right: 0;
		text-indent: 100%;
		top: 0;
		white-space: nowrap;
		width: 60px;

		&::before {
			background: url( #{$image-assets-url}search-icon.svg ) no-repeat center;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

.field {
	width: 100%;
}

.input {
	background-color: $white;
	border: 1px solid $gray;
	border-radius: 3px;
	box-sizing: border-box;
	color: $blue-dark;
	font-family: $body-font;
	font-size: 1.8rem;
	margin: 0;
	padding: 18px 75px 18px 16px;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
	width: 100%;

	&:focus {
		border-color: $green;
		box-shadow: inset 0 0 0 2px $green-light;
		outline: none;
	}

	&::-webkit-input-placeholder {
		color: $gray-dark;
		font-size: 1.6rem;
	}

	&::-moz-placeholder {
		color: $gray-dark;
		font-size: 1.6rem;
	}

	&:-ms-input-placeholder {
		color: $gray-dark;
		font-size: 1.6rem;
	}

	&:-moz-placeholder {
		color: $gray-dark;
		font-size: 1.6rem;
	}
}
