@import 'app/styles/colors';
@import 'app/styles/fonts';
@import 'app/styles/breakpoints';

.form {
	text-align: center;
}

.button {
	margin-top: 15px;
}

.heading {
	font-family: $heading-font;
	font-size: 3.4rem;
	font-weight: 400;
	margin: 45px 0 10px;

	.emphasis {
		color: $blue-bright;
	}
}

.secondary-heading {
	font-size: 2.2rem;
	font-weight: 200;
}

.secondary-heading-container {
	margin: 0 auto 35px;
	max-width: 600px;
}

.field {
	margin: 0 auto;
	max-width: 550px;
}

.field input {
	background-color: $white;
	border: 0;
	border-radius: 3px;
	box-sizing: border-box;
	color: $blue-dark;
	font-family: $body-font;
	font-size: 1.6rem;
	padding: 10px 16px;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
	width: 100%;

	&:focus {
		box-shadow: none;
		outline: none;
	}

	@include breakpoint( '>660px' ) {
		font-size: 1.8rem;
	}
}

.trademark {
	background: $blue-light;
	font-size: 1.5em;
	margin-top: 3em;
	padding: 1em 0;
	text-align: center;
}
