@import 'app/styles/colors';

.partial-underline {
	margin-bottom: 20px;
	position: relative;

	&::before {
		$underline-height: 2px;
		$line-margin: 3px;

		background-color: $blue;
		bottom: -( $underline-height + 10px );
		content: ' ';
		height: $underline-height;
		position: absolute;
		width: 25%;
	}

	&::after {
		content: ' ';
		display: block;
		margin-bottom: 1rem;
	}
}

.centered {
	&::before {
		left: 50%;
		transform: translateX( -50% );
	}
}
