@import 'app/styles/colors';

.partial-underline {
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;

	&::after {
		background-color: $blue;
		bottom: 0;
		content: '';
		height: 2px;
		left: 0;
		position: absolute;
		transition: width 200ms ease-in-out;
		width: 50px;
	}
}

.centered {
	&::before {
		left: 50%;
		transform: translateX( -50% );
	}
}
