@import 'app/styles/colors';

.waiting-dots {
	margin: auto;
}

.text {
	color: transparent;
	font-size: 0;
}

.dot {
	animation: waiting 0.6s infinite;
	background: $gray;
	border-radius: 50%;
	display: inline-block;
	height: 8px;
	margin-left: 3px;
	width: 8px;
	vertical-align: middle;

	&:nth-child( 1 ) {
		animation-delay: 0.2s;
	}

	&:nth-child( 2 ) {
		animation-delay: 0.3s;
	}

	&:nth-child( 3 ){
		animation-delay: 0.4s;
	}
}

@keyframes waiting {
	0%{
		background: transparent;
	}

	50%{
		background: $gray;
	}

	100%{
		background: transparent;
	}
}
