@import 'app/styles/colors';

/*rtl:ignore*/
.domain-input {
	border-radius: 3px;
	display: flex;

	/*rtl:ignore*/
	.input {
		border: 1px solid $white;
		border-right: 0;
	}

	.tld-container {
		border: 1px solid $gray-light;
	}


	&.has-error {
		.input,
		.tld-container {
			border-bottom: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-top: 1px solid $alert-yellow;
		}

		/*rtl:ignore*/
		.input {
			border-left: 1px solid $alert-yellow;
		}

		/*rtl:ignore*/
		.tld-container {
			border-right: 1px solid $alert-yellow;
		}
	}
}

.label {
	border: 0;
	clip: rect( 0 0 0 0 );
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*rtl:ignore*/
.input-container {
	flex-grow: 1;

	/*rtl:ignore*/
	.input {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		margin: 0;
	}
}

/*rtl:ignore*/
.tld-container {
	align-items: center;
	background: $gray-light;
	border-radius: 0 3px 3px 0;
	display: flex;
	flex-shrink: 0;
	font-size: 1.6rem;
	justify-content: center;
	text-align: center;
}

/*rtl:ignore*/
.tld {
	padding: 0 20px;
}

